<style type="text/css">
  #map { height: 100% }
</style>
<!--  insert some handlebars -->
{% javascripts output='generated/hbs/my-handlebars-templates.js'
    '@CyclogramFrontendBundle/Resources/public/hbs/*.hbs'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<div class="mobile_reg login_form ontop wide_popup with_map">
    <div class="wrapper">
        <div class="popup_header">
            <h1>LOCATIONS</h1>
            <span>near <span id="current_location">New York, NY</span></span>
        </div>
        <div class="popup_sidebar">
            <div class="maps_search">
                    <p class="input_note">Input your locations to search</p>
                    <input id="search_map_string" type="text" name="" placeholder="Zip code or city & state, etc." class="text"/>
                    <a href="#" id="search_button" class="submit_form">SEARCH</a>
            </div>
            <div class="mobile_switcher">
                <a href="#" class="contacts active">CONTACTS</a>
                <a href="#" class="map">MAP</a> 
            </div>
            <div class="results">
                <ul>
                    {% for organization in organizations %}
                    <li>
                        <div class="text_wrapper">
                            <div class="text_left">
                                <h2><a href="" class="location_details">{{ organization.organizationName }}</a></h2>
                                <p>{{ organization.organizationAddress1 }}<br>{{ organization.organizationAddress2 }}</p>
                            </div>
                            <div class="text_right">
                                <a href="#">Select</a>
                            </div>   
                            <div class="info_box" style="display: none;">
                                <div class="box_bg">
                                    <div class="text_cont">
                                        <a href="#" class="close"></a>
                                        <h1>{{ organization.organizationName }}</h1>
                                        <p>{{ organization.organizationAddress1 }}<br>{{ organization.organizationAddress2 }}</p>
                                        <hr/>
                                        <div class="wrapper">
                                            <p><strong>Organization Type:</strong><br/>Clinic</p>
                                            <p><strong>On the Web:</strong><br /><a href="#">www.cbwchc.org</a></p>
                                            <p><strong>Hours of Operation:</strong><br />Mon, Tues, Thurs, Wed, 9:30am-7pm; Sat, Sun, 8:30am-6pm.</p>
                                            <p>
                                                <strong>Services:</strong><br />
                                                - Maecenas in mi vitae ligula suscipit hendrerit nec et eros.<br />
                                                - Donec luctus quam at ipsum malesuada sodales.<br />
                                                - Sed pulvinar enim non iaculis tempor.<br />
                                                - Sed pulvinar enim non iaculis tempor.<br />
                                                - Sed pulvinar enim non iaculis tempor.<br />
                                                - Sed pulvinar enim non iaculis tempor.<br />
                                                - Aenean at felis nec ligula congue pharetra.
                                            </p>
                                        </div>                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="popup_map" id="map"></div>
        <div class="popup_apply center_align">
            <button class="submit" type="submit">APPLY</button>
        </div>
    </div>
</div>        
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgFoz3VYlZpWVsuIKfplU6c0yr8VaaoMc&sensor=false"></script>
<script type="text/javascript">

/* Register handlebars templates */
 
    var row = Handlebars.templates['row.hbs'];
    Handlebars.registerPartial("row", row); 

    var clinicsTable = Handlebars.templates['clinicsTable.hbs'];





                    
    $(document).ready(function(){
        
        var map;
        var markers = [];
        var infoWindow;
        var locationSelect;
            
        function load() {
            map = new google.maps.Map(document.getElementById("map"), {
              center: new google.maps.LatLng(34.0931, -118.3783),
              zoom: 10,
              mapTypeId: 'roadmap',
              mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU}
            });
            infoWindow = new google.maps.InfoWindow();

//            locationSelect = document.getElementById("locationSelect");
//            locationSelect.onchange = function() {
//              var markerNum = locationSelect.options[locationSelect.selectedIndex].value;
//              if (markerNum != "none"){
//                google.maps.event.trigger(markers[markerNum], 'click');
//              }
//            };
         }
              
//        $('.location_details').bind('click', function(e){
//        	e.preventDefault();
//        	var info = $(this).parents('.text_left').siblings('.info_box');
//        	if(!info.is(":visible")) {
//        		$(this).parents('.text_left').siblings('.info_box').show();
//        		$(this).closest('li').siblings().find('.info_box').hide();
//            } else {
//            	$(this).parents('.text_left').siblings('.info_box').hide();
//            }
//        });

        $('#location').on('click', function(e) {
                e.preventDefault();
                $('#div_location').dialog({
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
                load();
        });

        $('.location_details').bind('click', function(e){
        	e.preventDefault();
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "{{ path('searchOrganizationLocations')}}",
                data: {organization : $(this).html()}
            })
                .done (function(response) {
                    if(response.success) {
                    	$('#currency_symbol').html(response.currencySymbol);
                    }
                });
        });
        
        $('.text_wrapper .info_box').bind('click', '.close', function(e) {
        	e.preventDefault();
            $('.info_box').hide();
        });
        
        $('.text_right a').bind('click', function(e) {
        	e.preventDefault();
            $(this).toggleClass('select_btn');
        });
        
        $('.mobile_switcher a').bind('click', function(e) {
        	e.preventDefault();
        	if($(this).hasClass('contacts')) {
        		$('.results').show();
                $('.popup_map').hide();
            } else {
                $('.results').hide();
                $('.popup_map').show();
            }
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
        });

        function searchLocations() {
            var address = $("#search_map_string").val();
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({address: address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
            	  $('#current_location').html(results[0].formatted_address);
                  var center = results[0].geometry.location;
                  searchLocationsNear(center);
              } else {
                alert(address + ' not found');
              }
            });
        }
        
        $('#search_map_string').keyup(function(e){
            if(e.keyCode == 13)
            {
                searchLocations();
            }
        });
        
        $('#search_button').on('click', function(e){
            e.preventDefault();
            searchLocations();
        });



        function searchLocationsNear(center) {
        	  //clearLocations();

        	  $.ajax({
                  dataType: "text",
                  type: "POST",
                  url: Routing.generate('searchOrganizationLocations', {lat: center.lat(), lng: center.lng(), radius: 0.2, _locale: '{{ app.request.locale }}'}),
              })
              .done (function(data) {
            	  var xml = parseXml(data);
            	  var markerNodes = xml.documentElement.getElementsByTagName("marker");
            	  var bounds = new google.maps.LatLngBounds();

                  var data = new Array();
                  data.rows = new Array();

                  
 
            	  
            	  for (var i = 0; i < markerNodes.length; i++) {
              	    var name = markerNodes[i].getAttribute("name");
              	    var address = markerNodes[i].getAttribute("address");
              	    var distance = parseFloat(markerNodes[i].getAttribute("distance"));
              	    var latlng = new google.maps.LatLng(
              	        parseFloat(markerNodes[i].getAttribute("lat")),
              	        parseFloat(markerNodes[i].getAttribute("lng")));

              	    //createOption(name, distance, i);
              	    createMarker(latlng, name, address);
              	    bounds.extend(latlng);

                    data.rows.push(
                            { 
                              organization: {
                            	    organizationName: name,
                            	    organizationAddress1: address,
                            	    organizationAddress2: ''
                                  }
                            }
                    );
              	  }
            	  bounds.extend(new google.maps.LatLng(
                	        parseFloat(center.lat()),
                  	        parseFloat(center.lng())));
              	  
            	  map.fitBounds(bounds);
            	  if(markerNodes.length == 0)
            		    map.setZoom(10);

            	  //replace organizations table
            	  var html = clinicsTable(data);
                  $('div.results ul').html(html);
            	  
              });

        }

        //create Marker function
        function createMarker(latlng, name, address) {
        	  var html = "<b>" + name + "</b> <br/>" + address;
        	  var marker = new google.maps.Marker({
        	    map: map,
        	    position: latlng
        	  });
        	  google.maps.event.addListener(marker, 'click', function() {
        	    infoWindow.setContent(html);
        	    infoWindow.open(map, marker);
        	  });
        	  markers.push(marker);
        }

/*        function createOption(name, distance, num) {
        	  var option = document.createElement("option");
        	  option.value = num;
        	  option.innerHTML = name + "(" + distance.toFixed(1) + ")";
        	  locationSelect.appendChild(option);
        }
*/
        function clearLocations() {
        	  infoWindow.close();
        	  for (var i = 0; i < markers.length; i++) {
        	    markers[i].setMap(null);
        	  }
        	  markers.length = 0;

        	  //locationSelect.innerHTML = "";
        	  //var option = document.createElement("option");
        	  //option.value = "none";
        	  //option.innerHTML = "See all results:";
        	  //locationSelect.appendChild(option);
        	  //locationSelect.style.visibility = "visible";
        }

        function parseXml(str) {
            if (window.ActiveXObject) {
              var doc = new ActiveXObject('Microsoft.XMLDOM');
              doc.loadXML(str);
              return doc;
            } else if (window.DOMParser) {
              return (new DOMParser).parseFromString(str, 'text/xml');
            }
          }

          function doNothing() {}

        
        
    });

</script>