{%  extends '::dashboard.html.twig' %}

{% use '::facebook_blocks.html.twig' %}
{% use '::google_blocks.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-ui-1.10.3/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.10.3/jquery.ui.datepicker.min.js') }}"></script>
    <script src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.form.js') }}"></script>
    <script type="text/javascript" > 
        $(document).ready(function(){
            function funcCustom() {
                $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                $('<div class="modal_close_btn">×</div>').appendTo($(this));
                $('.modal_close_btn, .cancel a, .btn_cancel').on('click', function(e) {
                    e.preventDefault();
                    $(this).closest('.ui-dialog-content').dialog("close");
                });
            }
            //mail to friends
            $('.email').bind('click', function(e) {
                e.preventDefault();
                $('#tmp_subject').val('{%  trans from "study" %}inivted_to_study{% endtrans %}'+" " +$(this).children('.email_to_friends_study').val());
                $('#tmp_who').val('{{ participant_email }}')
                $('#email_list').dialog({
                    modal: true,
                    width: '330',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });

            $('#about_me').bind('click', function(e) {
                e.preventDefault();
                $('#about_me_popup').dialog({
                    modal: true,
                    width: '700',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });

            $('#shipping_information').bind('click', function(e) {
                e.preventDefault();
                $('#shipping_information_popup').dialog({
                    modal: true,
                    width: '700',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });

            $('#mobile_phone').bind('click', function(e) {
            	e.preventDefault();
                $('#mobile_phone_popup').dialog({
                    modal: true,
                    width: '465',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });

            $('#phone_confirm').submit(function(e){
                $('.error_msg').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            var messages = json.messages;
                            for (var i = 0; i < messages .length; i++){
                                $('#phone_'+messages[i].property).parent('li').after('<p class="error_msg">'+messages[i].message+'</p>');
                            }
                        } else {
                            $('#mobile_phone_popup').dialog('close');
                            $('#mobile_phone_confirm_popup').dialog({
                                modal: true,
                                width: '465',
                                fluid: true,
                                resizable: false,
                                position: ['top',100],
                                open: funcCustom
                            });
                        }
                    }
                });
                return false;
            });

            $('#sms_confirm').submit(function(e) {
                $('.error_msg').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if (json.error) {
                            var messages = json.messages;
                            for (var i = 0; i < messages .length; i++){
                                $('#sms_confirm_'+messages[i].property).parent('li').after('<p class="error_msg">'+messages[i].message+'</p>');
                            }
                        } else {
                            if (json.message) {
                                $('#sms_confirm_sms_code').parent('li').after('<p class="error_msg">'+json.message+'</p>');
                            } else if(json.send) {

                            } else {
                                $('#mobile_phone_confirm_popup').dialog('close');
                                window.location.replace(json.url);
                            }
                        }
                    }
                });
                return false;
            });

            $('#send_sms_again').bind('click', function(e){
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    data: {'send' : true},
                    url: "{{ path('_mobile_phone_confirm', {'send' : true})}}",
                })
                .done (function(response) {
                    return;
                });
                return false;
            });

            $('#send_email_again').bind('click', function(e){
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "{{ path('_main', {'sendMail' : true})}}",
                })
                .done (function(response) {
                    alert(response.message);
                });
                return false;
            });
            
            $('#signup_about_form').submit(function(e){
                $('.about_me_notice').remove();
                $('.error_msg').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            $('#signup_about_form_error').html('<p class="error">'+json.message+'</p>');
                        } else {
                            if (json.url) {
                                $('#about_me_popup').dialog('close');
                                window.location.replace(json.url);
                            } else {
                                alert(json.message);
                                $('#about_me_popup').dialog('close');
                            }
                        }
                    }
                });
                return false;
            });

            $('.close_cont a').click(function(e) {
                $(this).parent('div').siblings('.new_inputs_cont').find('input[type="text"]').val('');
            });

            $('#mailing_address_form').submit(function(e){
                $('.error').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            var messages = json.messages;
                            for (var i = 0; i < messages .length; i++){
                                $('#mailing_address_'+messages[i].property).parent('span').after('<p class="error">'+messages[i].message+'</p>');
                            }
                        } else {
                            if (json.url) {
                                $('#shipping_information_popup').dialog('close');
                                window.location.replace(json.url);
                            } else {
                                alert(json.message);
                                $('#shipping_information_popup').dialog('close');
                            }
                        }
                    }
            	});
                return false;	
            });

            var count = 1;
            $('#email_list .others').on('click', 'a', function(e) {
                if (count < 5 ){
                    e.preventDefault();
                    $('<input type="text" name="send_to['+count+']"/>').insertBefore($(this));
                    count++;
                } else {
                    e.preventDefault();
                }
            });
            $('#email_submit').bind('click' , function(e){
                $('#email_list').ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            alert(json.message);
                        } else {
                            $('#email_list').dialog('close');
                            alert(json.message);
                        }}
                });
                return false;
            });
            $('#email_list').on('click', '.modal_close_btn', function() {
                $(this).parent().find('input[type="text"]').val('');
                $(this).parent().find('textarea').val('');
             });
            //responsive jQuery UI
            $(window).resize(function () {
                fluidDialog();
            });
            $(document).on("dialogopen", ".ui-dialog", function (event, ui) {
                fluidDialog();
            });

            function fluidDialog() {
                var $visible = $(".ui-dialog:visible");
                // each open dialog
                $visible.each(function () {
                    var $this = $(this);
                    var dialog = $this.find(".ui-dialog-content").data("ui-dialog");
                    // if fluid option == true
                    if (dialog.options.fluid) {
                        var wWidth = $(window).width();
                        // check window width against dialog width
                        if (wWidth < dialog.options.maxWidth + 50) {
                            // keep dialog from filling entire screen
                            $this.css("max-width", "90%");
                        } else {
                            // fix maxWidth bug
                            $this.css("max-width", dialog.options.maxWidth);
                        }
                        //reposition dialog
                        dialog.option("position", dialog.options.position);
                    }
                });
            }
            
            $('#pledge').bind('click', function(e) {
                $('#pledge_popup').dialog({
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: function() {
                        $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                        $('<div class="modal_close_btn">×</div>').appendTo($(this));
                        $('.modal_close_btn, .cancel a').on('click', function() {
                            $(this).closest('.ui-dialog-content').dialog("close");
                        });
                    }
                });
            });
            $('.close').bind('click', function(e) {
                $('#pledge_popup').dialog('close');
                $('#div_location').dialog('close');
            });
            $('.icon_logout').click(function() {
                {% if is_granted('ROLE_FACEBOOK_USER') %}
                    fbLogout();
                {% elseif is_granted('ROLE_GOOGLE_USER') %}
                    gLogout();
                {% endif %}
                    window.location=Routing.generate('_logout');
            });
            $('#location').bind('click', function(e) {
                e.preventDefault();
                $('#div_location').dialog({
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });
            $('a.video').bind('click', function(e) {
                e.preventDefault();
                $('div.div_video').dialog({
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });
            $('.left_menu .first').hover(function() {
                $(this).find('.share_slide').slideDown('slow');
            }, function() {
                $(this).find('.share_slide').slideUp('slow');
            });
        });

        function dismiss(interventionCode) {
            if (confirm('{% trans from "dashboard" %}dashboard_dismiss_confirmation{% endtrans %}')) {
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "{{ path('_dismiss_ajax')}}",
                    data: {interventionCode : interventionCode}
                })
                    .done (function(response) {
                            window.location.replace(response.url);
                    });
            } else {
                return;
            }
        }

        function dismissAll() {
            if (confirm('{% trans from "dashboard" %}dashboard_dismiss_confirmation{% endtrans %}')) {
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "{{ path('_dismiss_ajax')}}"
                })
                .done (function(response) {
                    window.location.replace(response.url);
                });
            } else {
                 return;
            }
        }
        function fbs_click(width, height, name, content, logo) {
            var leftPosition, topPosition;
            //Allow for borders.
            leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
            //Allow for title and status bars.
            topPosition = (window.screen.height / 2) - ((height / 2) + 50);
            var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=no,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
            u=location.href;
            window.open('http://www.facebook.com/sharer.php?s=100&p[url]='+encodeURIComponent(u)+'&p[title]='+name+'&p[summary]='+content+'&p[images][0]='+logo,'sharer', windowFeatures);
            return false;
        }
    </script>
{% endblock javascripts %}

{% block content %}
    <div class="site_container">
        {% include '::header.html.twig'%}
        <div class="panel">
            <div class="panel_left">
                <div class="menu_cont">
                    {% if studyCode != 'knowathome' %}
                        {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideDashboardMenu',
                            {'template': 'CyclogramFrontendBundle:Knp:knp_side_menu.html.twig', 
                             'currentClass': 'active', 'dashboardClass': 'branded'}) 
                        }}
                    {% else %}
                    {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideDashboardMenu',
                          {'template': 'CyclogramFrontendBundle:Knp:knp_side_menu.html.twig', 
                           'currentClass': 'active'}) 
                    }}
                    {% endif %}
                    <ul class="left_menu">
                        {% for study in enrolledStudies %}
                            <li class="first">
                                <a class="icon_survey" href="{{ path('_page', {'studyUrl' : study.studyUrl}) }}"><span>{{ study.studyName }}</span></a>
                                {% if study.studyAllowSharing %}
                                <div class="share_slide" style="display:none">
                                    <a href='' class="twitter_icon" onclick="popUp=window.open('https://twitter.com/share?url={{ study.studyRefferalShortUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ study.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw"></a>
                                    <a href="#" class="facebook_icon" onClick="return postFeed('{{ study.reffferalFacebookStudyUrl }}','{{ study.tagline }}','{{ study.studyContent}}','{{ study.graphic }}','{{ study.studyName }}')"></a>
                                    <a class="linkedin_icon" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ study.studyRefferalShortUrl }}&amp;title={{ study.studyName }}&amp;summary={{ study.studyContent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a>
                                    <a class="pinterest_icon" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ study.reffferalPinterestStudyUrl }}&media={{ study.graphic }}&description={{ study.studyContent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false"></a>
                                    <a href="#" class="email"><input type="hidden" class="email_to_friends_study" value="{{ study.studyName }}"></a>
                                </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel_right">
                <div class="dashboard_title main {% if studyCode != 'knowathome' %}branded{% endif %}">
                    <h1>{% trans from "dashboard" %}txt_dashboard{% endtrans %}</h1>
                    <p>{% trans from "dashboard" %}dashboard_subtitle{% endtrans %}</p>
                </div>
                <div class="dashboard_panel">
                    <div id="dismiss_message"> </div>
                    {% if confirm_email == false%}
                        <p class="notice green"><span>{{ email_alert| raw }}</span> <a href="#" id="send_email_again">{% trans from "dashboard" %}send_again{% endtrans %}</a></p>
                    {% endif %}
                    {% if dismiss_message is defined %}
                        <p class="notice green"><span>{{ dismiss_message }}</span></p>
                    {% endif %}
                    {% if confirmed is defined %}
                        <p class="notice green"><span>{{ confirmed }}</span></p>
                    {% endif %}
                    {% if dismiss_error_message is defined %}
                        <p class="notice green"><span>{{ dismiss_error_message }}</span></p>
                    {% endif %}
                    <div class="choices_box">
                        <h2>{% trans from "dashboard" %}do_it_now{% endtrans %}<span> ({{ interventioncount }})</span></h2>
                        {% if interventioncount > 0 %}
                        <a class="close_all dismiss" href="#" onClick = "return  dismissAll()"><span>{% trans from "dashboard" %}dismiss_all{% endtrans %}</span></a>
                            {% for intervention in interventions %}
                                <div class="featured_box">
                                    <a class="close dismiss" href="#" onClick = "return dismiss('{{ intervention.code}}')"></a>
                                    {% if intervention.logo is defined %}
                                        <div class="banner_box"><span class="icon_1"><span></span></span><img title="" alt="" src="{{ intervention.logo }}" height="126" width="126"></div>
                                    {% endif %}
                                    <div class="text_box"> 
                                        <h4>{{ intervention.title  | raw }}</h4>
                                        <p>{{ intervention.content | raw }}</p>
                                    </div>
                                    <div id="pledge_popup" style="display:none">
                                        <a class="close" href="#"></a>
                                        <div class="content_banner">
                                            <span class="icon_2">
                                                <span></span>
                                            </span>
                                            <img height="126" width="126" src="{{ intervention.logo }}" alt="" title="">
                                        </div>
                                        <div class="content_text">
                                            <h1>{{ intervention.name | raw }}</h1>
                                            <textarea>{{ intervention.content | raw }}</textarea>
                                        </div>
                                        <ul class="social">
                                            <li class="col_1"><a class="fb" href="#"><span>Share on Facebook</span></a></li>
                                            <li class="col_2"><a class="tw" href="#"><span>Post to Twitter</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="mobile featured_box_s_desc">
                                        <p>{{ intervention.content | raw }}</p>
                                    </div>
                                    {% if intervention.url is defined and intervention.url is not empty and intervention.type != 'Video'%}
                                        <div class="button_box"> <a href="{{ intervention.url }}"><span>{% trans from "dashboard" %}do_it{% endtrans %}</span></a> </div> 
                                    {% endif %}
                                    {% if intervention.type == 'Pledge' %}
                                    <div class="social_icons_block">
                                        <a href="" class="twitter_icon" onclick="popUp=window.open('https://twitter.com/share?url={{ intervention.reffferalShortStudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ intervention.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"></a>
                                        <a href="" class="facebook_icon" onClick="return postFeed('{{ intervention.reffferalFacebookStudyUrl }}','{{ intervention.tagline }}','{{ intervention.content }}','{{ intervention.graphic }}','{{ intervention.name }}')"></a>
                                        <a class="linkedin_icon" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ intervention.reffferalShortStudyUrl }}&amp;title={{ intervention.name }}&amp;summary={{ intervention.content |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a>
                                        <a class="pinterest_icon" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ intervention.reffferalPinterestStudyUrl }}&media={{ intervention.graphic }}&description={{ intervention.content }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false"></a>
                                        <a href="" class="email"><input type="hidden" class="email_to_friends_study" value="{{ intervention.studyName }}"></a>
                                    </div>
                                    {% endif %}
                                    {% if intervention.type == 'Referral' %}
                                    <div class="referal_social">
                                        <a href="#" class="tw" onclick="popUp=window.open('https://twitter.com/share?url={{ intervention.reffferalShortStudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ intervention.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"></a>
                                        <a href="#" class="fb" onClick="return postFeed('{{ intervention.reffferalFacebookStudyUrl }}','{{ intervention.tagline }}','{{ intervention.studyContent }}','{{ intervention.graphic }}','{{ intervention.studyName }}')"></a>
                                        <a class="linkedin_icon" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ intervention.reffferalShortStudyUrl }}&amp;title={{ intervention.name }}}&amp;summary={{ intervention.studyContent }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a>
                                        <a class="pinterest_icon" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ intervention.reffferalPinterestStudyUrl }}&media={{ intervention.graphic }}&description={{ intervention.content }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false"></a>
                                        <a href="#" class="email"><input type="hidden" class="email_to_friends_study" value="{{ intervention.studyName }}"></a>
                                    </div>
                                    {% endif %}
                                    {% if intervention.type == 'Choose Location' %}
                                    <div class="button_box"> <a href="#" id="location"><span>{% trans from "dashboard" %}do_it{% endtrans %}</span></a> </div>
                                    <div id="div_location" style="display:none;">
                                        {% include 'CyclogramFrontendBundle:Dashboard:locations.html.twig' %}
                                    </div>
                                    {% endif %}
                                    {% if intervention.type == 'About Me Info'%}
                                    <div class="button_box"> <a href="#" id="about_me"><span>{% trans from "dashboard" %}do_it{% endtrans %}</span></a> </div>
                                    <div id="about_me_popup" class="dashboard_panel" style="display: none;">
                                        {% include 'CyclogramFrontendBundle:GeneralSettings:about_me_new_form.html.twig' %}
                                    </div>
                                    {% endif %}
                                    {% if intervention.type == 'Shipping Info'%}
                                    <div class="button_box"> <a href="#" id="shipping_information"><span>{% trans from "dashboard" %}do_it{% endtrans %}</span></a> </div>
                                    <div id="shipping_information_popup" style="display: none;">
                                         {% include 'CyclogramFrontendBundle:GeneralSettings:shipping_information_form.html.twig' %}
                                    </div>
                                    {% endif %}
                                    {% if intervention.type == 'Confirm Mobile Phone'%}
                                    <div class="button_box"> <a href="#" id="mobile_phone"><span>{% trans from "dashboard" %}do_it{% endtrans %}</span></a> </div>
                                    <div id="mobile_phone_popup" style="display: none;">
                                        {% include 'CyclogramFrontendBundle:GeneralSettings:mobile_phone_form.html.twig' %}
                                    </div>
                                    <div id="mobile_phone_confirm_popup" style="display: none;">
                                        {% include 'CyclogramFrontendBundle:GeneralSettings:mobile_phone_confirm_form.html.twig' %}
                                    </div>
                                    {% endif %}
                                    {% if intervention.type == 'Video' %}
                                    <div class="button_box"> <a href="#" class="video"><span>{% trans from "dashboard" %}do_it{% endtrans %}</span></a> </div>
                                    <div class="div_video" style="display:none;">
                                        <iframe width="670" height="393" 
					                        src="{{ intervention.url }}" frameborder="0" allowfullscreen>
					                    </iframe>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="featured_box">
                                <h2>
                                    <br>
                                    <span></span>
                                </h2>
                                <h2><span>{% trans from "dashboard" %}no_do_it{% endtrans %}  <br></span></h2>
                                <p><br></p>
                                <div class="mobile featured_box_s_desc">
                                    <p>{% trans from "dashboard" %}no_do_it{% endtrans %}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <form id="email_list" style="display: none; " action="{{path('_email_to_friend')}}">
                        <h1>{%  trans from "email" %}email_to_friends_title{% endtrans %}</h1>
                        <div class="sender_info">
                            <label for="tmp_who">{%  trans from "email" %}email_to_friends_who_sending{% endtrans %}</label>
                            <input id="tmp_who" type="text" name="send_from" class="text" placeholder="Type your e-mail" /><br />
                            <label for="tmp_to">{%  trans from "email" %}email_to_friends_who_are_you_sending{% endtrans %}</label>
                            <input id="tmp_to" type="text" name="send_to[0]" class="text" placeholder="Type recipient email" /><br />
                            <p class="others">
                                <a href="#">+ {%  trans from "email" %}email_to_friends_add_email{% endtrans %}</a>
                                <span>(up to 5 e-mails)</span>
                            </p>
                        </div>
                        <div class="msg_details">
                            <label for="tmp_subject">{%  trans from "email" %}email_to_friends_subject{% endtrans %}</label>
                            <input id="tmp_subject" type="text" name="subject" class="text" value=" " />
                            <label for="tmp_msg">{%  trans from "email" %}email_to_friends_message{% endtrans %}</label>
                            <textarea rows="3" cols="28.5" name="description" class="text"></textarea>
                            {% if app.user %}
                                <input type="hidden" value="{{ participant_email }}"  name="participant"/>
                            {% endif %}
                            {% if studyCode is defined %}
                                <input type="hidden" value="{{ studyCode }}"  name="studyCode"/>
                            {% endif %}
                            <a href="#" class="btn_cancel">{%  trans from "email" %}email_to_friends_cancle{% endtrans %}</a>
                            <a href="#" class="btn_send_mail" id="email_submit">{%  trans from "email" %}email_to_friends_send_button{% endtrans %}</a>
                        </div>
                    </form>
                    <div class="box_more_studies">
                        {% if studies is not empty  %}
                        <h3>{% trans from "dashboard" %}join_a_study{% endtrans %}</h3>
                        <div class="studies_wrapper">
                            {% for study in studies %}
                                <div class="more_studies_col first">
                                {% if study.studyLogo is empty %}
                                    <a href="{{ path('_page', {'studyUrl' : study.studyCode}) }}"><img src="{{ asset('images/tmplogo_none.jpg') }}" width="176"  alt="" title=""/></a>
                                {% else %}
                                    <a href="{{ path('_page', {'studyUrl' : study.studyCode}) }}"><img src="{{ study_image_url }}/{{ study.studyId }}/{{ study.studyGraphic }}" width="176"  alt="" title=""/></a>
                                    <a href="{{ path('_page', {'studyUrl' : study.studyCode}) }}"><img src="{{ asset('images/tmplogo_none.jpg') }}" style="display:none;" width="176"  alt="" title=""/></a>
                                {% endif %}
                                    <h4><a href="{{ path('_page', {'studyUrl' : study.studyCode}) }}">{{ study.studyName }}</a></h4>
                                    <p>{{ study.studyTagline | raw }}</p>
                                </div>      
                             {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include '::footer.html.twig' %}
{% endblock content %}

