    <div class="mobile_reg">
        <h1><span>Tailor your experience with ProofPilot. Pre-Qualify for Studies.</span> </h1>
        <h1>Tell us a bit about yourself</h1>
        <form  action="{{ path('_signup_about', {'studyCode' : studyCode}) }}" method="post" name="signup_about" id="signup_about_form" novalidate>
        <span>I'am a 
                      {{ form_widget(formAbout.sexSelect) }}
                      of
                      {{ form_widget(formAbout.raceSelect) }}
                      who lives in
                      {{ form_widget(formAbout.countrySelect) }}.
        </span>
      {{ form_widget(formAbout.confirm, {'attr':{'class' : 'submit with_min_width btn_login'}}) }}
       </form>
    </div>