{%  extends '::base.html.twig' %}

{% block content %}
    <div class="mobile_reg">
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} 2/4:</span>{% trans from "register" %}enter_mobile_phone{% endtrans %}</h1>
      <p>{% trans from "register" %}enter_mobile_phone{% endtrans %}</p>
      <form method="post" action="{{ path('simplereg_step_2',{'id' : id, 'studyId' : studyId}) }}">
        <ul class="form_fields">
          <li class="small_input">
          {% if form is defined %}
              {{ form_widget(form.phone_small, {'attr' : {'class' : 'default_input tac small' , 'id' : 'numeric'}}) }}
              
          {% else %}
          <input name="" value="" class="default_input tac small" type="text">
          {% endif %}
          </li>
          <li class="wide_input">
          {% if form is defined %}
          {{ form_widget(form.phone_wide, {'attr' : {'class' : 'default_input wide', 'id' : 'numeric'}}) }}
          {% else %}
          <input name="" value="" class="default_input wide" type="text">
          {% endif %}
          </li>
           {% if form is defined %}
              {{ form_errors(form.phone_small) }}
              {{ form_errors(form.phone_wide) }}

           
        </ul>
        <div class="center_align">
        {{ form_widget(form.sendCode, {'attr':{'class':'submit'}}) }}
              {{ form_errors(form) }}
              {{ form_rest(form) }}
              {% endif %}
        </div>
      </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src={{ asset('js/vendor/jquery-1.9.1.min.js') }}><\/script>')</script>
    <script src= {{ asset ('js/plugins.js') }}></script>
    <script src= {{ asset ('js/main.js') }}></script>
    <script src= {{ asset ('js/jquery.numeric.js') }}></script>
{% endblock content %}
