<<<<<<< HEAD
  {% for p in participant %}
  <h1>{{ p.participant_username }}'s Dashboard</h1>
  <br>
  <p>
  <div align="center">
  <table width="60%" border="0" cellspacing="10" cellpadding="5">
    <tr>
      <td width="50%" bgcolor="#666666">
          <h3>What Happens NOW</h3>
      </td>
      <td bgcolor="#666666"><h3>What Happens NEXT</h3></td>
    </tr>
    <tr>
      <td valign="top">
          Do it!
          {% if interventions|length > 0 %}
              <ul>
                  {% for intervention in interventions %}
                      <li><a href="{{ intervention.intervention_url }}" target="_blank" style="color: #000;" >{{ intervention.intervention_name }}</a></li>
                  {% endfor %}
              </ul>
          {% else %}
              Your account has been created
          {% endif %}
 
      </td>
      <td valign="top">We will get in touch with you the next week to discuss your participation in KnowAtHome. Stay tuned ...</td>
</tr>
</table>
 
 
          </table>
  </div>
  </p>
  <!-- end .content --></div>
 
  {% endfor %}
=======
	{% for p in participant %}
    <h1>{{ p.participant_username }}'s Dashboard</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin consectetur mi, varius pellentesque leo ornare eu. Duis a sapien pretium dolor commodo facilisis ac a enim. Integer hendrerit, justo at eleifend dictum, lectus est dignissim sem, et suscipit dui ligula id diam. Praesent enim est, auctor in porta vitae, sagittis ac elit. Sed ac porttitor augue. Morbi viverra placerat ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br>
    <p>
    <div align="center">
	<table width="60%" border="0" cellspacing="10" cellpadding="5">
	  <tr>
	    <td width="50%" bgcolor="#666666">
            <h3>What Happens NOW</h3>
        </td>
	    <td bgcolor="#666666"><h3>What Happens NEXT</h3></td>
	  </tr>
	  <tr>
	    <td valign="top">
<<<<<<< HEAD
            Do it!
            {% if interventions|length > 0 %}
                <ul>
                    {% for intervention in interventions %}
                        <li><a href="{{ intervention.intervention_url }}" target="_blank" style="color: #000;" >{{ intervention.intervention_name }}</a></li>
=======
            <!--Your account has been created-->

            {% if interventions|length >= 2 %}
            <ul>
                {% for intervention in interventions %}
                    <li><a href="{{ intervention.intervention_url }}" target="_blank" style="color: #000;" >{{ intervention.intervention_name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                {% if interventions|length == 1 %}

                    {% for intervention in interventions %}
                        <a href="{{ intervention.intervention_url }}" target="_blank" style="color: #000;">[DO IT]</a>
<<<<<<< HEAD
>>>>>>> 67fabbc... Merge branch 'dev/josepablo' of ssh://stash.cyclogram.net:7999/ES/knowathome
=======
>>>>>>> 67fabbc... Merge branch 'dev/josepablo' of ssh://stash.cyclogram.net:7999/ES/knowathome
                    {% endfor %}
                </ul>
            {% else %}
                Your account has been created
            {% endif %}

        </td>
	    <td valign="top">We will get in touch with you the next week to discuss your participation in Know@Home. Stay tuned ...</td>
  </tr>
  </table>

  
            </table>
	</div>
	</p>
    <!-- end .content --></div>

	{% endfor %}
>>>>>>> a773f6d46c75db333382a9d97003c325690f8f67
