{%  extends '::base.html.twig' %}

{% block body %}
    <body class="page_survey">
	
		<div class="site_container">
		{% block header %}
            {% include '::header.html.twig' %}
        {% endblock header %}
{# 		<header>#}
{# 		<a href="#" class="site_logo">ProofPilot</a>#}
{# 				{{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:top_menu.html.twig'}) }}#}
{# 		</header>#}
		
			<div class="mobile_header_menu">
				<ul>
					<li><a href="#" class="trigger_left_menu"></a></li>
					<li class="logo"><a href="#" class="site_logo">ProofPilot</a></li>
					<li class="right"><a href="#" class="trigger_sitemenu"></a></li>
				</ul>
			</div>
			
			<div class="mobile_sitemenu">
				<div class="menu_wrapper">
					<a href="#" class="close"></a>
					<a href="#" class="logo">ProofPilot</a>
					<ul>
						<li><a class="icon_settings" href="#"><span>My Settings</span></a></li>
						<li><a class="icon_logout" href="#"><span>Logout</span></a></li>
						<li><a class="icon_help" href="#"><span>Help</span></a></li>					
					</ul>				
				</div>

			</div>
			
			<div class="panel alt_bg">
				
				<div class="panel_left survey">
				
					<div class="profile_info alt_bg">
						<div class="wrapper">
							<a href="#" class="avatar"><img src="{{ user.avatar }}" width="80" height="82" alt="" title=""/></a>
							<ul class="user_info">
								<li><a href="#">{{ user.name }}</a></li>
								<li>
									<p>Last Access: <br />
									<span>{{ lastaccess|date("d F Y, H:i") }}</span></p>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="menu_cont">
					{{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideDashboardMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
{# 						<ul class="left_menu">#}
{# 							<li><a href="#" class="icon_dashboard active">Dashboard <span class="notice">5</span></a></li>#}
{# 							<li class="first"><a class="icon_survey" href="#">Survey</a></li>#}
{# 							<li><a class="icon_activities" href="#">Activities</a></li>#}
{# 							<li><a class="icon_measurments" href="#">Measurments</a></li>#}
{# 							<li><a class="icon_treatment" href="#">Treatment</a></li>#}
{# 						</ul>#}
					</div>
					
{#					<div class="study_desc survey_box">

						
						<h3>{{ about.title }}</h3>
						
						<p>{{ about.info }}</p>
						<p>&nbsp;</p>
						
						{% for element in list %}
						<p>{{ element.item }}</p>
						{% endfor %}
						
					</div>#}
				
				</div>
				
				<div class="panel_right">
					
					<div class="dashboard_title white">
						<div class="image"><img src="{{ page.image }}" width="93" height="93" alt="" title=""/></div>
						<h1>{{ page.title }}</h1>
{# 						<p>{{ page.subtitle }}</p>#}
					</div>
					
{#					<div class="progress_bar">
	
						<div class="text">Progress</div>
						<ul class="bar">
							<li>0%</li>
							<li class="ind">
								<span><span style="width: 100px;"></span></span>
							</li>
							<li>100%</li>
						</ul>
						<div class="est">
							<b>Est. Duration:</b>
							<span>12 Minutes</span>
						</div>
				
					</div>#}
					
{# 						<div class="survey_intro">#}
						
{# 							<h2>Get Started</h2>#}
							
{# 							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut eros pretium ante bibendum #}
{# 							condimentum. Aenean sit amet sem vel enim rutrum ultrices eu non massa.</p>	#}
												
{# 						</div>#}

						
{# 						<form method="POST" action="">#}
{# 							<div class="qbox">#}
{# 								<h4>How old are you?</h4>#}
{# 								<ul class="for_text">#}
{# 									<li class="left"><label for="tmp1">Your age</label></li>#}
{# 									<li class="right"><input type="text" value="" name="" class="text" id="tmp1"></li>#}
{# 								</ul>	#}
{# 							</div>#}
{# 							<div class="qbox">#}
{# 								<h4>Do you consider yourself to be Hispanic or Latino?</h4>#}
{# 								<ul class="for_radios">#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp2"></span>#}
{# 										<label for="tmp2">No</label>#}
{# 									</li>#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp3"></span>#}
{# 										<label for="tmp3">Yes</label>#}
{# 									</li>#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp4"></span>#}
{# 										<label for="tmp4">Don’t know</label>#}
{# 									</li>#}
{# 									<li class="last">#}
{# 										<span><input type="radio" value="" name="" id="tmp5"></span>#}
{# 										<label for="tmp5">No answer</label>#}
{# 									</li>#}
{# 								</ul>	#}
{# 							</div>#}
{# 							<div class="qbox">#}
{# 								<h4>Which racial group or groups do you consider yourself to be in?</h4>#}
{# 								<ul class="for_radios">#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp6"></span>#}
{# 										<label for="tmp6">American</label>#}
{# 									</li>#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp7"></span>#}
{# 										<label for="tmp7">Asian</label>#}
{# 									</li>#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp8"></span>#}
{# 										<label for="tmp8">Black or African American</label>#}
{# 									</li>#}
{# 									<li>#}
{# 										<span><input type="radio" value="" name="" id="tmp9"></span>#}
{# 										<label for="tmp9">Caucasian</label>#}
{# 									</li>#}
{# 									<li class="last">#}
{# 										<span><input type="radio" value="" name="" id="tmp10"></span>#}
{# 										<label for="tmp10">Does not apply</label>#}
{# 									</li>#}
{# 								</ul>	#}
{# 							</div>#}
{# 							<div class="qbox">#}
{# 								<h4>Just another question to fill out the empty space</h4>#}
{# 								<ul class="for_text">#}
{# 									<li class="left"><label for="tmp1">Your height</label></li>#}
{# 									<li class="right"><input type="text" value="" name="" class="text" id="tmp1"></li>#}
{# 								</ul>	#}
{# 								<ul class="for_text">#}
{# 									<li class="left"><label for="tmp1">Your weight</label></li>#}
{# 									<li class="right"><input type="text" value="" name="" class="text" id="tmp1"></li>#}
{# 								</ul>#}
{# 							</div>#}
{# 						</form>#}
						
{# 						<div class="pagination"><p>Page 2 of 4</p></div>#}
				 		
				 	
{# 					</div>#}
					
					<div class="prev_next for_mobile">
						<ul>
							<li class="back_left"><a class="back" href="#"><span>Back</span></a></li>
							<li class="next_right"><a class="next" href="#"><span>Next</span></a></li>
						</ul>
					</div>
					
						
{#					<div class="btns_box wide for_mobile">
						<ul>
							<li class="back left"><a class="back left" href="#"><span>Back</span></a></li>
							<li class="right">
								<ul>#}
									{#<li class="cancel"><a class="cancel" href="#"><span>Cancel</span></a></li>
									<li class="save"><a class="save" href="#"><span>Save <em>for later</em></span></a></li>
									<li class="complete"><a class="complete" href="#"><span>COMPLETE SURVEY</span></a></li>
								</ul>
							</li>

						</ul>	
					</div>#}
				
				
			</div>
			
			<div class="dashboard_panel">
						
						
						<div class="mobile about_box">
							<a href="#" class="expander" id="about_expander"><span>{{ about.title }}</span></a>
							<div class="text_desc">
						
								<p>{{ about.info }}</p>
								<p>&nbsp;</p>
								
								{% for element in list %}
        						<p>{{ element.item }}</p>
        						{% endfor %}
						
							</div>
						</div>
						
						<iframe src="{{ survey_url }}" id="iframe1" height="800" width="1013""></iframe>
				    </div>
			
		</div>
	</div>	
		<footer>
		
			<div class="site_container">
			
				<div class="footer_col_left">
				{{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createBottomLeftMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
{# 					<ul>#}
{# 						<li class="icon_home"><a class="icon_home" href="#"><span>Home</span></a></li>#}
{# 						<li class="icon_fullscreen"><a class="icon_fullscreen" href="#"><span>Fullscreen</span></a></li>#}
{# 						<li class="icon_update"><a class="icon_update" href="#"><span>Update</span></a></li>#}
{# 					</ul>#}
				</div>
				
				<div class="footer_col_middle"><a class="to_top" href="#"><span>ON TOP</span></a></div>
				
				<div class="footer_col_right">
				{{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createBottomRightMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
{# 					<ul>#}
{# 						<li class="icon_help"><a class="icon_help" href="#"><span>Help</span></a></li>#}
{# 						<li class="icon_logout" ><a class="icon_logout" href="#"><span>Logout</span></a></li>#}
{# 						<li class="icon_settings"><a class="icon_settings" href="#"><span>My Settings</span></a></li>#}
{# 					</ul>#}
				</div>
			
			</div>
			
			<a href="http://www.kudos.hr" target="_blank" class="author">design by kudos studio</a>
			
		</footer>
		
		<script>
    		/*function autoResize(id){
    		    if(document.getElementById){
    		        var iframe = document.getElementById(id);
        		    var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
        		    if(innerDoc.body.offsetHeight)
        		    {
            		    iframe.height = innerDoc.body.offsetHeight + 32 + 'px';
        		    } else {
        		        iframe.height = innerDoc.body.scrollHeight + 'px';
        		    }

    		    }
    		}*/
     		$('#iframe1').load(function(){

         		var frameHeight = $(this).contents().find("html").height();

         		$(this).height(frameHeight);

     			var surveydata = $(this).contents().find('#surveydata');
		    	var surveyId = surveydata.attr('surveyid');
		    	var saveId = surveydata.attr('saveid');
		    	if(surveyId !== undefined && saveId !== undefined) {
		    	    window.location = '/surveyResponce?surveyId=' + surveyId + "&saveId=" + saveId;
		    	}



    		});
		</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
        <style>
            .panel_right {
                height: 130px;
            }
            iframe {
                border: 1px;
                margin-left: -8px;
            }
            .dashboard_panel {
                margin-bottom: -5px;
            }
        </style>
    </body>
    {% endblock body %}