{% extends "CyclogramKnowatHomeBundle:Default:index.html.twig" %}

{% block title %}
    {{ pageText.title }}
{% endblock %}

{% block stylesheetsCustom %}
    <link rel="stylesheet" href="/bundles/cyclogramknowathome/css/knowathome.css" type="text/css" />
{% endblock %}

{% block javascriptsCustom %}
    <script>
        $(document).ready(function(){
            {% set picN = app.session.get('picN') %}
            $("body").anystretch("/bundles/cyclogramknowathome/images/website/backgrounds/{{picN}}.jpg");
        });
    </script>
{#     <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>#}
{# 	<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'login' }) }}"></script>#}
{% endblock %}

{% block body %}
    <div id="wrapper" class="container">

        <div class="leftColumn columns six ">

            <div class="logo" style="margin-bottom: 15px;">
                <a href="{{ path('CyclogramKnowatHomeBundle_homepage', {'studyCode' : studyCode}) }}"><img src="/bundles/cyclogramknowathome/images/website/logo-white.png" border="0" /></a>
            </div>

            <div class="disclaimer columns six" style="margin-left: 0;">
                <div class="disclaimerContent">

                    {{ pageText.consent|raw }}

                </div>
            </div>

            <div class="clear"> <br /> </div>

            <p>Please check ONE of the following options:
                <br />
            </p>
            <form action="" method="post" id="consentFrm">
                <div style="margin-bottom: 1em;">
                    <input type="radio" name="consent" id="consentYes" value="yes" /> <label for="consentYes">I am at least 18 years of age, agree to the above information and would like to participate in this research study.</label>
                </div>
                <div style="margin-bottom: 1em;">
                    <input type="radio" name="consent" id="consentNo" value="no" /> <label for="consentNo">I would not like to continue as a participant in this research study.</label>
                </div>
            </form>
            <p>
            We would like to freeze part of the DBS specimen you send us for future use. 
            Your samples would be stored for an indefinite time. 
            We may use these specimens for research in the future. 
            Nothing that could be linked to you will be kept with the specimens. 
            Tests that might be done on these specimens may include tests for HIV, other viruses, 
            or immune function tests (ability to fight infection). 
            We will not test for genetic problems or use the specimens for cloning or commercial purposes. 
            You may choose not to have your specimens stored for future research and still be part of this study.
            </p>
            <br />
            <p>Are you willing to have your specimens frozen for future use?
                <br />
            </p>
            <form method="post" name="specimenFrm" id="specimenFrm" action="{{ path('CyclogramKnowatHomeBundle_eligibility', {'studyCode' : studyCode}) }}">
                <div style="margin-bottom: 1em;">
                    <input type="radio" name="specimen" id="specimenYes" value="yes" /> <label for="specimenYes">Yes</label>
                </div>
                <div style="margin-bottom: 1em;">
                    <input type="radio" name="specimen" id="specimenNo" value="no" /> <label for="specimenNo">No</label>
                </div>
            </form>
            
            <script type="text/javascript">

                $(document).ready(function(){
                    var alert_msg = "{% trans from "login" %}alert_msg{% endtrans %}";
                    var alert_specimen_msg = "{% trans from "login" %}specimen_msg{% endtrans %}";
                    
                    $("input:radio[name=specimen]").click(function(){
                        var specimenValue = $(this).val();

                        var specimenFrmAction = "";
                        specimenFrmAction = (specimenValue == "yes") ?  "?freezeSpecimen=yes" : "?freezeSpecimen=no";
                        $.cookie("specimenFrmActionUrl", specimenFrmAction);
                    });
                    $("a#continueBtn").click(function(){
                        var consent = $("#consentFrm input:radio[name='consent']:checked").val();
                        var specimen = $("#specimenFrm input:radio[name='specimen']:checked").val();
                        if ( typeof consent == 'undefined' ){
                            alert(alert_msg);
                            return false;
                        }
                        if( consent == "yes" ){
                        	if ( typeof specimen == 'undefined' ) {
                            	alert(alert_specimen_msg);
                                return false;
                            	} else {
                                    //document.location.href = "{{ path('CyclogramKnowatHomeBundle_eligibility', {'studyCode' : studyCode}) }}";
                                	document.getElementById("specimenFrm").submit();
                            	}
                        }else{
                            document.location.href = "{{ path('CyclogramKnowatHomeBundle_notEligible', {'studyCode' : studyCode}) }}";
                        }
                    });
                });
            </script>

            <div class="disclaimerButtons">
                <a class="NavButton columns two" id="continueBtn" href="javascript:void(0);">Continue</a>
            </div>

            <!--<div class="disclaimerButtons columns six">
                    <a class="NavButton columns two" href="{{ path("CyclogramKnowatHomeBundle_eligibility", {'studyCode' : studyCode}) }}">I AGREE</a>
                    <a class="NavButton columns two" href="{{ path("CyclogramKnowatHomeBundle_notEligible", {'studyCode' : studyCode}) }}">I DO NOT AGREE</a>
            </div>-->

        </div>

    </div>
{% endblock %}