{% extends "CyclogramKnowatHomeBundle:Default:index.html.twig" %}

{% block title %}
    {{ pageText.title }}
{% endblock %}

{% block stylesheetsCustom %}
    <link rel="stylesheet" href="/bundles/cyclogramknowathome/css/knowathome.css" type="text/css" />
{% endblock %}

{% block javascriptsCustom %}
    <script>
        $(document).ready(function(){
            {% set picN = app.session.get('picN') %}
            $("body").anystretch("/bundles/cyclogramknowathome/images/website/backgrounds/{{picN}}.jpg");

            var specimenFrmActionUrl = $.cookie("specimenFrmActionUrl");
            var surveyLink = $("#surveyLink").attr("href");
            $("#surveyLink").attr("href", surveyLink+specimenFrmActionUrl);
        });
    </script>
{% endblock %}

{% block body %}
    <div id="wrapper" class="container">

        <div class="leftColumn columns six ">

            <div class="logo" style="margin-bottom: 15px;">
                <a href="{{ path("CyclogramKnowatHomeBundle_homepage") }}"><img src="/bundles/cyclogramknowathome/images/website/logo-white.png" border="0" /></a>
            </div>

            <h2 style="margin: 0;">Are you Eligible?</h2>

            <div class="eligibility">

                <ul class="mainNavButtons" style="margin-bottom: 8px;">
                    <li><a class="NavButton" id="surveyLink" href="{{ surveyLink }}">BEGIN</a></li>
                </ul>

                <p>

                    {{ pageText.consent_introduction|raw }}

                </p>

                <br><br>

            </div>

        </div>

    </div>
{% endblock %}