{% extends "CyclogramKnowatHomeBundle:Default:index.html.twig" %}

{% block title %}
    Forgot your password?
{% endblock %}

{% block stylesheetsCustom %}
    <link rel="stylesheet" href="/bundles/cyclogramknowathome/css/knowathome.css" type="text/css" />
{% endblock %}

{% block javascriptsCustom %}
    <script>
        $(document).ready(function(){
            {% set picN = app.session.get('picN') %}
            $("body").anystretch("/bundles/cyclogramknowathome/images/website/backgrounds/{{picN}}.jpg");
        });
    </script>
{% endblock %}

{% block body %}
<div id="wrapper" class="container">

    <div class="leftColumn columns six ">

        <div class="logo" style="margin-bottom: 15px;">
            <a href="{{ path("CyclogramKnowatHomeBundle_homepage") }}"><img src="/bundles/cyclogramknowathome/images/website/logo-white.png" border="0" /></a>
        </div>

        <h2>Forgot your password?</h2>

        <div class="formContainer">

            <form action="{{ path("CyclogramKnowatHomeBundle_sendPasswordResetLink") }}" method="post" {{ form_enctype(form) }} >

                <table width="100%" align="center">
                    <tbody>

                    <tr>
                        <td width="40%">
                            {{ form_label(form.email) }}
                        </td>
                        <td width="60%">
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </td>
                    </tr>

                    <tr>
                        <td><br /></td>
                    </tr>

                    </tbody>
                </table>

                <input type="submit" class="submitBtn" value="RESET PASSWORD" style="margin: auto; font-size: 1.2em;" />

                {{ form_rest(form) }}

            </form>

            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

        </div>

    </div>

</div>
{% endblock %}