<header>
     {% if app.user %}
        <a class="site_logo" href="{{ path('_main') }}">ProofPilot</a>
    {% else %}
        <a class="site_logo" href="{{ path('_login') }}">ProofPilot</a>
    {% endif %}
  <ul class="header_menu">
    <li>
      <a class="icon_help" href="#">
        <span>Help</span>
      </a>
    </li>
    <li>
      <a class="icon_logout" href="#">
        <span></span>
      </a>
      <br>
    </li>
  </ul>
</header>
  <div class="mobile_header_menu">
    <ul>
      <li><a href="#" class="trigger_left_menu"></a></li>
      {% if app.user %}
          <li class="logo"><a class="site_logo" href="{{ path('_main') }}">ProofPilot</a></li>
      {% else %}
          <li class="logo"><a class="site_logo" href="{{ path('_login') }}">ProofPilot</a></li>
      {% endif %}

      <li class="right"><a href="#" class="trigger_sitemenu"></a></li>
    </ul>
  </div>
  <div class="mobile_sitemenu">
    <div class="menu_wrapper">
      {% if app.user %}
          <a href="#" class="close"></a> <a href="{{ path('_main') }}" class="logo">ProofPilot</a>
      {% else %}
          <a href="#" class="close"></a> <a href="{{ path('_login') }}" class="logo">ProofPilot</a>
      {% endif %}
      <ul>
        <li><a class="icon_settings" href="#"><span>My Settings</span></a></li>
        <li><a class="icon_logout" href="#"><span>Logout</span></a></li>
        <li><a class="icon_help" href="#"><span>Help</span></a></li>
      </ul>
    </div>
  </div>