<header>
    <a class="logo {{ branding }}" href="{{ path('_main') }}">
        <img src="{{ asset('branding/' ~ branding ~ '/logo.png') }}"/>
    </a>
    {% if is_granted('ROLE_PARTICIPANT')  %}
        {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:top_menu.html.twig'}) }}
        {% else %}
            <ul class="header_menu">
{#                 <li><a class="register_link" href="{{ path('_register') }}">{% trans %}txt_header_register_here{% endtrans %}</a>#}
{#                    <span class="text">{% trans %}txt_header_or{% endtrans %}</span>#}
{#               </li>#}
              <li><a class="login" href="{{ path('_login') }}"><span>{% trans %}txt_header_login{% endtrans %}</span></a></li>
            </ul>
        {% endif %}
</header>
<div class="mobile_header_menu nologin">
        <ul>
         <li class="logo">
             <a class="logo {{ branding }}" href="{{ path('_main') }}">
                <img src="{{ asset('branding/' ~ branding ~ '/logo.png') }}"/>
             </a>
         </li>
         <li class="right"><a class="trigger_sitemenu" href="#"></a></li>
        </ul>
</div>
<div class="mobile_sitemenu register nologin">
        <div class="menu_wrapper">
        <a class="logo {{ branding }}" href="{{ path('_main') }}">
            <img src="{{ asset('branding/' ~ branding ~ '/logo.png') }}"/>
        </a>
        {% if app.user %}
            {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:top_menu.html.twig'}) }}
        {% else %}
            <ul>         
                <li><a href="{{ path('_register') }}" class="icon_register"><span>{% trans %}txt_header_register{% endtrans %}</span></a></li>
                <li><a href="{{ path('_login') }}" class="icon_login"><span>{% trans %}txt_header_login{% endtrans %}</span></a></li>
            </ul>
        {% endif %}
        </div>
</div>