<header>
    <a class="site_logo {{ branding }}" href="{{ path('_main') }}"></a>
        {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopLeftMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
        <div class="search_form">
            <form method="" action="">
                <input type="text" title="Search" placeholder="Search" name="">
            </form>
        </div>
        {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:top_menu.html.twig'}) }}

        {% else %}
            <ul class="header_menu">
                <li><a class="login" href="{{ path('_signup') }}"><span>{% trans %}txt_header_login{% endtrans %}</span></a></li>
            </ul>
        {% endif %}
</header>
<div class="mobile_header_menu nologin">
    <ul>
        <li class="logo">
            <a class="site_logo {{ branding }}" href="{{ path('_main') }}"></a>
        </li>
        <li class="right">
{#             <a class="trigger_searchmenu" href="#"></a>#}
            <a class="trigger_sitemenu" href="#"></a>
        </li>
    </ul>
</div>
<div class="mobile_sitemenu register nologin alt">
    <div class="menu_wrapper">
        <a class="close" href="#"></a>
        <a class="logo"></a>
        {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopSettingsMenuMobileHeader',{'template': 'CyclogramFrontendBundle:Knp:top_menu_mobile_header.html.twig'}) }}
            {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopSettingsMenuMobile',{'template': 'CyclogramFrontendBundle:Knp:top_menu_mobile_body.html.twig'}) }}
        {% else %}
            <ul>         
                <li><a href="{{ path('_signup') }}" class="icon_login"><span>{% trans %}txt_header_login{% endtrans %}</span></a></li>
            </ul>
        {% endif %}
    </div>
</div>
<div class="mobile_sitemenu search nologin alt">
    <div class="menu_wrapper">
        <a href="#" class="close"></a>
        <a href="#" class="logo">ProofPilot</a>
        <div class="searchform">
            <form action="" method="">
                <div class="input_wrapper"><input type="text" name="" value="Search" class="text"/></div>
                <a href="#" class="submit">GO</a>
            </form>	                   
        </div>
    </div>
</div>