{% extends '::general.html.twig' %}

{% use '::facebook_blocks.html.twig' %}
{% use '::google_blocks.html.twig' %}

{% block javascripts %}
    {% include '::google_analytics.html.twig' %}
    <script>
       $(document).ready(function(){
           $('#facebook_button').click(function(e) 
                { 
                    e.preventDefault();
                    e.stopPropagation();
                    fb_login();
                });
           $('#google_button').click(function(e)
                {
                    e.preventDefault();
                    e.stopPropagation();
                    g_login();
                });
           $('.email').bind('click', function(e) {
               e.preventDefault();
               $('#email_list').dialog();
           });
           $('#email_list').on('click', 'a', function() {
        	   
           });
       });
</script>
    <script type="text/javascript">
    //facebook share popup
    function fbs_click(width, height) {
        var leftPosition, topPosition;
        //Allow for borders.
        leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
        //Allow for title and status bars.
        topPosition = (window.screen.height / 2) - ((height / 2) + 50);
        var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
        u=location.href;
        t=document.title;
        window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer', windowFeatures);
        return false;
    }
    
</script
{% endblock javascripts %}


{% block header %}
    {% include '::study_header.html.twig' %}
{% endblock header %}


{% block content %}
  <div class="intro_page">
  
  	<div class="choose_action alt for_mobile">
		<h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}</h3>
        <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}Learn how ProofPilot maintains the impartiality of research </span></a>
	</div>
				
    <div class="home_welcome">
      <div class="welcome_banner"><img src="{{ logo }}" alt="" height="126" width="126"></div>
      <div class="welcome_text">
        <h2>{{ studycontent.studyName }}</h2>
        <p>{{ studycontent.studyTagline | raw}}</p>
      </div>
    </div>
    
    <div class="mobile desc">
      <p>{{ studycontent.studyTagline | raw}}</p>
    </div>
    
    <div class="choose_action">
      <h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}</h3>
      <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>
    </div>
    {% if message is defined %}
        <p class="main_notification">
            <span>{{ message }}</span>
        </p>
    {% endif %}
    {% set queryParams = app.request.query.all %}
    {% if (queryParams["eligible"] is defined) and (queryParams["eligible"] == false) %}
        <p class="main_notification">
            <span>{% trans with {'%studyname%': studycontent.studyName } from "study" %}msg_not_eligible{% endtrans %}</span>
        </p>
    {% endif %}
    
    <div class="text_wrapper">
      <div class="video_wrapper">
        <a class="join" href="/en/eligibility-survey/sexpro/468727?redirectUrl=%2Fen%2Fsexpro%2Fstudy"><span>join the study</span></a>
        <div class="video_placeholder"><img src="{{ graphic }}" height="393" width="670"></div>
        <div class="v_toolbar for_mobile">
    	    <ul class="social_share">
    	        <li><span>Share:</span></li>
                <li><a href='http://www.facebook.com/share.php?u=http://new-frontend-bogdand.proofpilot.dyndns.org' class="fb" onClick="return fbs_click(400, 300)" target = "_blank"></a></li>
                    <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url=http://new-frontend-bogdand.proofpilot.dyndns.org', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw"></a></li>
                    <li><a href="#" class="embed"></a></li>
                    <li><a target="_blank" class="email" href="#"></a></li>
            </ul>
	    </div>
        <div class="video_text">
			
                <ul class="participants_num _rows_2">
                    <li class="left">
                        <span class="text">{% trans from "study" %}txt_participants{% endtrans %}</span>
                        <span class="num">3102</span>
                    </li>
                    <li class="right">
                        <span class="text">{% trans from "study" %}txt_goal{% endtrans %}</span>
                        <span class="num">3000</span>
                    </li>
                </ul>
                {% set redirectUrl = path('_study', {studyUrl: studyUrl})  %}
           {% if not is_enrolled_in_study(studyCode) %}
               {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('_signup', {'studyCode': studyCode} ) }}" class="join"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                    <p class="note">Requires registration</p>
                        <div class="social_col">
                            <a class="fb" id="facebook_button" href="">
                                <span>{% trans from "register" %}txt_join_with{% endtrans %} Facebook</span>
                            </a>
                            <a class="gp" id="google_button" href="">
                                <span>{% trans from "register" %}txt_join_with{% endtrans %} Google</span>
                            </a> 
                        </div>
                {% endif %}
                {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <p class="join">{% trans from "study" %}txt_join_before_goal{% endtrans %}</p>
                    <a href="{{ path('_eligibility_survey', {'studyCode': studyCode, 'surveyId': surveyId, 'redirectUrl': redirectUrl} ) }}" class="join"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                {% endif %}
            {% endif %}
        </div>
      </div>
      <div class="page_bg">
        <div class="home_text">
            <div class="v_toolbar">
        		<ul class="social_share">
                    <li><a href='http://www.facebook.com/share.php?u=http://new-frontend-bogdand.proofpilot.dyndns.org' class="fb" onClick="return fbs_click(400, 300)" target = "_blank"> {% trans from "study" %}txt_share{% endtrans %}</a></li>
                    <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url=http://new-frontend-bogdand.proofpilot.dyndns.org', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
                    <li><a href="#" class="embed">{% trans from "study" %}txt_embed{% endtrans %}</a></li>
                    <li><a class="email" href="#">{% trans from "study" %}txt_email_to_friend{% endtrans %}</a></li>
            </ul>
            </div>
            {{ studycontent.studyAbout |raw }}
            {{ studycontent.studyWhatsInvolved | raw }}
			<div class="see_more">
                <div class="col1">
                     <h3 class="about">{% trans from "study" %}txt_more_studies_about{% endtrans %}</h3>
                     <p>Social Studies, Behaviourism, Clinical depression</p>
                </div>
                <div class="col2">
                     <h3 class="location">{% trans from "study" %}txt_more_studies_in{% endtrans %}</h3>
                     <p>Los Angeles, San Diego, Los Angeles, San Diego, Los Angeles</p>
                </div>
                            
            </div>
      </div>
      
	  <aside>
	  <div class="box alt s_by">
	      <h4>{% trans from "study" %}txt_conducted_by{% endtrans %}</h4>
		      <img width="60" height="75" src="{{ asset('images/tmp_logo_1.jpg') }}" class="logo_img">
              <p>Autism Research Team Rush University, <br />
              <span>Chicago, IL USA</span></p>
	  </div>
	  <div class="box alt s_org">
	      <h4>{% trans from "study" %}txt_affiliated_organizations{% endtrans %}</h4>
		  <ul class="aff_org_list">
              <li>
                  <img src="{{ asset('images/tmplogo_none.jpg') }}" width="61" height="61"/>
                  <p>Radio Station 99.5FM</p>
              </li>
              <li>
              <img src="{{ asset('images/tmplogo_none2.jpg') }}" width="61" height="61"/>
                  <p>Jackson State Univirsity</p>
              </li>
              <li>
                  <img src="{{ asset('images/tmplogo_none.jpg') }}" width="61" height="61"/>
                  <p>My Brothers Keeper</p>
              </li>
          </ul>
	  </div>
      <div class="box alt staff last">
	      <h4>{% trans from "study" %}txt_staff{% endtrans %}</h4>
		  <p>Patty Bouvier, Nelson Muntz, Barney Gumble, Lionel Hutz, Charles Montgomery Burns</p>
	  </div>
	  </aside>
    </div>
  </div>
</div>
<form id="email_list">
    <input type="text" />
    <a href=""> + add email</a>
</form>
{% endblock content %}
    {% block footer %}
    {% include '::study_footer.html.twig' %}
{% endblock footer %}
