{% extends '::general.html.twig' %}

{% use '::facebook_blocks.html.twig' %}
{% use '::google_blocks.html.twig' %}

{% block javascripts %}
    {% include '::google_analytics.html.twig' %}
    <script src="{{ asset('/js/jquery.form.js') }}"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    {#<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>#}
    <script>
        $(document).ready(function(){

            // facebook authentification
            $('#facebook_button, #facebook_button_landing_page').click(function(e) { 
                e.preventDefault();
                e.stopPropagation();
                fb_login();
            });

            //google authentification
            $('#google_button, #google_button_landing_page').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                g_login();
            });

            //responsive jQuery UI
            $(window).resize(function () {
                fluidDialog();
            });
            $(document).on("dialogopen", ".ui-dialog", function (event, ui) {
                fluidDialog();
            });

            function fluidDialog() {
                var $visible = $(".ui-dialog:visible");
                // each open dialog
                $visible.each(function () {
                    var $this = $(this);
                    var dialog = $this.find(".ui-dialog-content").data("ui-dialog");
                    // if fluid option == true
                    if (dialog.options.fluid) {
                        var wWidth = $(window).width();
                        // check window width against dialog width
                        if (wWidth < dialog.options.maxWidth + 50) {
                            // keep dialog from filling entire screen
                            $this.css("max-width", "90%");
                        } else {
                            // fix maxWidth bug
                            $this.css("max-width", dialog.options.maxWidth);
                        }
                        //reposition dialog
                        dialog.option("position", dialog.options.position);
                    }
                });
            }

            // custom changes for jQuery UI
            function funcCustom() {
            	$(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                $('<div class="modal_close_btn">×</div>').appendTo($(this));
                $('.modal_close_btn, .cancel a, .btn_cancel').on('click', function(e) {
                    e.preventDefault();
                    $(this).closest('.ui-dialog-content').dialog("close");
                });
            }
            
            //mail to friends
            $('.email').bind('click', function(e) {
                e.preventDefault();
                $('#email_list').dialog({
                    modal: true,
                    width: '330',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });

            var count = 1;
            $('#email_list .others').on('click', 'a', function(e) {
                if (count < 5 ){
                    e.preventDefault();
                    $('<input type="text" name="send_to['+count+']"/>').insertBefore($(this));
                    count++;
                } else {
                    e.preventDefault();
                }
            });
            $('#email_submit').bind('click' , function(e){
                $('#email_list').ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            alert(json.message);
                        } else {
                            $('#email_list').dialog('close');
                            alert(json.message);
                        }}
                });
                return false;
            });
            
            //registration ajax
            $("#register").bind('click', function(e) {
                e.preventDefault();
                $("#div_register").dialog({ 
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
            });
            
            //consent ajax
            $(".consent").bind('click', function(e) {
                e.preventDefault();
                $("#div_consent").dialog({ 
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });

                $(window).resize(function () {
                    fluidDialog();
                });
                $(document).on("dialogopen", ".ui-dialog", function (event, ui) {
                    fluidDialog();
                });
                
                function fluidDialog() {
                    var $visible = $(".ui-dialog:visible");
                    // each open dialog
                    $visible.each(function () {
                        var $this = $(this);
                        var dialog = $this.find(".ui-dialog-content").data("ui-dialog");
                        // if fluid option == true
                        if (dialog.options.fluid) {
                            var wWidth = $(window).width();
                            // check window width against dialog width
                            if (wWidth < dialog.options.maxWidth + 50) {
                                // keep dialog from filling entire screen
                                $this.css("max-width", "90%");
                            } else {
                                // fix maxWidth bug
                                $this.css("max-width", dialog.options.maxWidth);
                            }
                            //reposition dialog
                            dialog.option("position", dialog.options.position);
                        }
                    });
                }
                
            });
            $('#registration_form').submit(function(e){
                $('.error').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                    	{% set skipAboutMe = is_skip_about_me(studyCode) %}
                        if(json.error){
                            var messages = json.messages;
                            for (var i = 0; i < messages .length; i++){
                                var message = messages[i].message;
                                if(messages[i].password) {
                                    var property  = "#registration_"+messages[i].property+"_first";
                                    $(property).after('<p class="error">'+message+'</p>');
                                } else {
                                    var property  = "#registration_"+messages[i].property;
                                    $(property).after('<p class="error">'+message+'</p>');
                                } 
                            }
                        } else if (json.url != null){
                        	window.location.replace(json.url);
                        } else if ({{ skipAboutMe|default(0)}}){
                        	$("#div_register").dialog('close');
                            $("#div_consent").dialog({
                                modal: true,
                                width: 'auto',
                                fluid: true,
                                resizable: false,
                                position: ['top',100],
                                open: funcCustom
                            });
                        } else {
                            $("#div_register").dialog('close');
                            if ({{ countryName and countryId }}) {
                                $('#open_choice_countrySelect span').html('{{ countryName }}');
                                $('#open_choice_countrySelect div.checker input[type=hidden]').val({{ countryId }});
                                }
                            $("#div_register_step2").dialog({
                                modal: true,
                                width: 'auto',
                                fluid: true,
                                resizable: false,
                                position: ['top',100],
                                open: funcCustom
                            });
                    }}
                });
                return false;
            });
            
            //login ajax
            $("#login_form").submit(function(e){
                $('.error').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            $('#reg_field_2').after('<div><p class="error">{%  trans from "login" %}txt_login_error_message{% endtrans %}</p></div>');
                        } else {
                            window.location.replace(json.url);
                        }
                    }
                });
                return false;
            });
            //forgot username ajax
            $("#forgot_username").bind('click', function(e){
         	   e.preventDefault();
         	   $("#div_register").dialog('close');
              $("#div_forgot_username").dialog({
                  modal: true,
                  width: 'auto',
                  fluid: true,
                  resizable: false,
                  position: ['top',100],
                  open: funcCustom
              });
          });
            $("#forgot_username_form").submit(function(e){
           	$('.error').remove();
           	$('.notice').remove();
      	        $(this).ajaxSubmit({
    		        dataType: "json",
    	    	    success: function(json) {
        	    	    if(json.error){
       	    	    	    $('#mail_address_participantEmail').after('<div><p class="error">'+json.message+'</p></div>');

        	    	       } else {
        	    	    	  $('#mail_address_participantEmail').after('<div><p class="notice green">'+json.message+'</p></div>');
            	    	       }}
    	    	});
     	        return false;
                 });
            //forgot password ajax
            $("#forgot_password").bind('click', function(e){
         	   e.preventDefault();
         	   $("#div_register").dialog('close');
              $("#div_forgot_password").dialog({
            	  modal: true,
                  width: 'auto',
                  fluid: true,
                  resizable: false,
                  position: ['top',100],
                  open: funcCustom
              });
          });
            $("#forgot_password_form").submit(function(e){
           	$('.error').remove();
      	        $(this).ajaxSubmit({
    		        dataType: "json",
    	    	    success: function(json) {
        	    	    if(json.error){
       	    	    	    $('#form_participantUsername').after('<div><p class="error">'+json.message+'</p></div>');

        	    	       } else {
        	             	   $("#div_forgot_password").dialog('close');
        	                  $("#div_forgot_password_confirmation").dialog();
            	    	       }}
    	    	});
     	        return false;
                 });
            // signup about ajax
            $('#signup_about_form').submit(function(e){
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                       if(json.error){
                            $('#signup_about_form_error').html('<p class="error">'+json.message+'</p>');
                        } else if (json.url){
                        	window.location.replace(json.url);
                        }else {
                            $("#div_register_step2").dialog('close');
                            $("#div_consent").dialog({
                                modal: true,
                                width: 'auto',
                                fluid: true,
                                resizable: false,
                                position: ['top',100],
                                open: funcCustom
                            });
                        }
                    }
                });
                return false;
            });
            $('.embed').on('click', function(e) {
                e.preventDefault();
                $('#embed_list').dialog();
            });
            $(".temporaty_unavailable").bind('click', function(){
                $("#div_temporaty_unavailable").dialog({
              	  modal: true,
                    width: '260px',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: funcCustom
                });
                });
            // mobile_login_switcher
            $(".mobile_login_switcher a").bind('click', function(){
                if( $(this).attr('rel') ){
                    if( !$(this).hasClass('expanded') ){
                        $(".mobile_login_switcher a").removeClass('expanded');
                        $(".loginform_left , .loginform_right").hide().removeClass('expanded');
                        $( $(this).attr('rel') ).addClass('expanded').show();
                        $(this).addClass('expanded');
                    } else {
                        $(".loginform_left , .loginform_right").hide().removeClass('expanded');
                        $(this).removeClass('expanded');
                    }
                }
                return false;
            });
            $('#send_prelaunch').on('click', function(e){
            	$('p.preLaunch').remove();
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            	if ($('#prelaunch_email').val() === ""){
            		 $('#prelaunch_input_box').after('<p class="error preLaunch">Please input your e-mail</p>');
            		 return false;
            	}else if (!regex.test($('#prelaunch_email').val())) {
           		    $('#prelaunch_input_box').after('<p class="error preLaunch">Invalid e-mail</p>');
        		    return false;
            	}
        	    var url = '{{ path('_pre_launch', { 'studyCode':  studyCode ,'recruiter' : 'isRecruiter', 'email': 'participantEmail' }) }}';
        	    url = url.replace("participantEmail", $('#prelaunch_email').val());
            	if ($('#recruiter').is(':checked')){
            	    url = url.replace("isRecruiter", 1 );
            	} else {
            		url = url.replace("isRecruiter", 0 );
                }
            	window.location.replace(url);
            });

            $('#send_prelaunch_loggedin').on('click', function(e){
            	$('p.preLaunch').remove();
        	    var url = '{{ path('_pre_launch', { 'studyCode':  studyCode ,'recruiter' : 'isRecruiter'}) }}';
            	if ($('#recruiter_loggedin').is(':checked')){
            	    url = url.replace("isRecruiter", 1 );
            	} else {
            		url = url.replace("isRecruiter", 0 );
                }
            	window.location.replace(url);
            });

        });
</script>
{% endblock javascripts %}

{% block header %}
    {% include '::header.html.twig' %}
{% endblock header %}

{% block content %}
    <div class="intro_page">
        <div class="choose_action alt for_mobile">
        {% if studycontent.studySponsorBy is not empty %}
            <h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}: {{ studycontent.studySponsorBy }}</h3>
{#             <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>#}
        {% endif %}
        </div>
        <div class="home_welcome">
            <div class="welcome_banner"><img src="{{ logo }}" alt="" height="126" width="126"></div>
            <div class="welcome_text">
                <h2>{{ studycontent.studyName }}</h2>
                <p>{{ studycontent.studyTagline | raw}}</p>
            </div>
        </div>
        <div class="mobile desc">
            <p>{{ studycontent.studyTagline | raw}}</p>
        </div>
        {% if not is_enrolled_in_study(studyCode) %}
            <a href="" class="join for_mobile consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
        {% endif %}
        <div class="choose_action">
        {% if studycontent.studySponsorBy is not empty %}
               <h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}: {{ studycontent.studySponsorBy }}</h3>
{#             <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>#}
        {% endif %}
        </div>
        {% if message is defined %}
            <p class="main_notification">
                <span>{{ message }}</span>
            </p>
        {% endif %}
        {% set queryParams = app.request.query.all %}
        {% if (queryParams["eligible"] is defined) and (queryParams["eligible"] == false) %}
            <p class="main_notification">
                <span>{% trans with {'%studyname%': studycontent.studyName } from "study" %}msg_not_eligible{% endtrans %}</span>
            </p>
        {% elseif is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_not_eligible_in_study(studyCode) %}
            <p class="main_notification">
                <span>{% trans with {'%studyname%': studycontent.studyName } from "study" %}msg_not_eligible{% endtrans %}</span>
            </p>
            {% endif %}
        {% endif %}
        
        <div class="text_wrapper">
            <div class="video_wrapper">
                {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="fb" id="facebook_button_landing_page" href=""><span>{% trans from "register" %}txt_join_with{% endtrans %} Facebook</span></a>
                {% endif %}
                <div class="video_placeholder">
                    {% if studycontent.studyVideo is not empty %}
                    <iframe width="670" height="393" 
                        src="{{ studycontent.studyVideo }}" frameborder="0" allowfullscreen>
                    </iframe>
                    {% else %}
                        <img src="{{ graphic }}" height="393" width="670">
                    {% endif %}
                </div>
                <div class="v_toolbar for_mobile">
                {% if studyAllowSharing %}
                    <ul class="social_share">
                        <li><span>Share:</span></li>
                        <li><a href='' class="fb" onClick="return postFeed('{{ reffferalFacebookStudyUrl }}','{{ studycontent.getStudyTagline }}','{{ facebookcontent }}','{{ graphic }}','{{ studycontent.getStudyName }}')"></a></li>
                        {% if reffferalShortStudyUrl is defined %}
                        <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ reffferalShortStudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw"></a></li>
                        <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ reffferalShortStudyUrl }}&amp;title={{ studycontent.studyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a></li>
                        {% else %}
                        <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ shortstudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw"></a></li>
                        <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shortstudyUrl }}&amp;title={{ studycontent.studyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a></li>
                        {% endif %}
                        <li><a class="pn" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ reffferalPinterestStudyUrl }}&media={{ graphic }}&description={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false"></a></li>
                        <li><a target="_blank" class="email" href="#"></a></li>
                    </ul>
                  {% endif %}
                </div>
                <div class="video_text">
                    {% if preLaunchNotified is defined  and  preLaunchNotified == true%}
                        <span class="prelaunch_msg">we_will_notify_prelaunch</span>
                    {% elseif studyStatus  == 'Pre-Launch'%}
                        {% if (queryParams["preLaunch"] is defined) %}
                            <span class="prelaunch_msg">{{ queryParams["preLaunch"] }}</span>
                        {% else %}
                            {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div>
                                    <h1><span class="text red">Let me know when this study launches</span></h1>
                                </div>
                                <div id="prelaunch_input_box">
                                    <input type="text" placeholder="enter e-mail address" id="prelaunch_email"></input><br>
                                    <input type="checkbox" id="recruiter"></input><span> I can help recruit people for this study</span>
                                </div>
                                <a href="#" class="join" id="send_prelaunch"><span>Let me know</span></a>
                                <a class="fb" id="facebook_button_landing_page" href="">
                                    <span>Join Wait List with Facebook</span>
                                </a>
                                <a class="gp" id="google_button_landing_page" href="">
                                    <span>Join Wait List with  Google</span>
                                </a> 
                            {% endif %}
                            {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div id="logged_in_input_box">
                                    <input type="checkbox" id="recruiter_loggedin"></input><span> I can help recruit people for this study</span>
                                </div>
                                <a href="#" class="join" id="send_prelaunch_loggedin" ><span>Let me know</span></a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                                <ul class="participants_num _rows_2">
                                    <li class="left">
                                        <span class="text">{% trans from "study" %}txt_participants{% endtrans %}</span>
                                        <span class="num">{{ studyParticipants }}</span>
                                    </li>
                                    <li class="right">
                                        <span class="text">{% trans from "study" %}txt_goal{% endtrans %}</span>
                                        <span class="num">{{ studyGoal }}</span>
                                    </li>
                                </ul>
                       {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                           {% if (queryParams["eligible"] is not defined) or (queryParams["eligible"] != false) %}
                               <a class="fb" id="facebook_button_landing_page" href="">
                                   <span>{% trans from "register" %}txt_join_with{% endtrans %} Facebook</span>
                               </a>
                               {% if is_participant_register_last(studyCode) %}
                                   {% set redirectUrl = path('_signup')  %}
                                   {% if is_skip_consent(studyCode) %}
                                        <a href="{{ path('_eligibility_survey', {'studyCode': studyCode, 'surveyId': surveyId, 'redirectUrl': redirectUrl} ) }}" class="join"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                                   {% else %}
                                       <a href="" class="join consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                                   {% endif %}
                               {% else %}
                                   {% set redirectUrl = path('_main')  %}
                                   <a href="" class="join" id="register"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                               {% endif %}
                                <a class="gp" id="google_button_landing_page" href="">
                                    <span>{% trans from "register" %}txt_join_with{% endtrans %} Google</span>
                                </a> 
                             {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_enrolled_in_study(studyCode) %}
                                <a href="{{ path('_main')}}"><p class="already_joined"><span>{% trans from "study" %}you_are_participant{% endtrans %}</span></p></a>
                                <ul class="short_menu">
                                    <li><a href="#" class="sm_icon_1 consent">{% trans from "study" %}button_view_consent{% endtrans %}</a></li>
                                    <li><a href="#" class="sm_icon_2 temporaty_unavailable">{% trans from "study" %}button_personalized_insight{% endtrans %}</a></li>
                                    <li><a href="#" class="sm_icon_3 temporaty_unavailable">{% trans from "study" %}button_study_findings{% endtrans %}</a></li>
                                    <li class="last"><a href="#" class="sm_icon_4 temporaty_unavailable">{% trans from "study" %}button_leave_study{% endtrans %}</a></li>
                                </ul>
                            {% elseif not is_not_eligible_in_study(studyCode) %}
                                {% set redirectUrl = path('_main')  %}
                                <p class="join">{% trans from "study" %}txt_join_before_goal{% endtrans %}</p>
                                <a href="" class="join consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="page_bg">
                <div class="home_text">
                    <div class="v_toolbar">
                    {% if studyAllowSharing %}
                        <ul class="social_share">
                            <li><a href='' class="fb" onClick="return postFeed('{{ reffferalFacebookStudyUrl }}','{{ studycontent.getStudyTagline }}','{{ facebookcontent }}','{{ graphic }}','{{ studycontent.getStudyName }}')"> {% trans from "study" %}txt_share{% endtrans %}</a></li>
                        {% if reffferalShortStudyUrl is defined %}
                            <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ reffferalShortStudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
                            <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ reffferalShortStudyUrl }}&amp;title={{ studycontent.studyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" >{% trans from "study" %}txt_share{% endtrans %}</a></li>
                        {% else %}
                            <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ shortstudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
                            <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shortstudyUrl }}&amp;title={{ studycontent.studyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" >{% trans from "study" %}txt_share{% endtrans %}</a></li>
                        {% endif %}
                            <li><a class="pn" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ reffferalPinterestStudyUrl }}&media={{ graphic }}&description={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false">{% trans from "study" %}txt_pin{% endtrans %}</a></li>
                            <li><a class="email" href="#">{% trans from "study" %}txt_email_to_friend{% endtrans %}</a></li>
                        </ul>
                    {% endif %}
                    </div>
                    {{ studycontent.studyAbout |raw }}
                    {{ studycontent.studyWhatsInvolved | raw }}
                </div>
                <aside>
                    {% if studyOrganizations is not empty %}
                        <div class="box alt s_by">
                            <h4>{% trans from "study" %}txt_conducted_by{% endtrans %}</h4>
                            {% for organization in studyOrganizations %}
                            {% if organization.organizationLogo is empty %}
                                <img width="60" height="75" src="{{ asset('images/tmplogo_none.jpg') }}" class="logo_img">
                            {% else %}
                                <img width="60" height="75" src="{{ urlAssets }}/web/org/{{ organization.organizationLogo }}" class="logo_img">
                            {% endif %}
                                <p>{{ organization.organizationName }}, <br />
                                <span>{{ organization.organizationAddress1 }}</span></p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if affiliatedOrganizations is not empty %}
                        <div class="box alt s_org">
                            <h4>{% trans from "study" %}txt_affiliated_organizations{% endtrans %}</h4>
                            <ul class="aff_org_list">
                           {% for organization in affiliatedOrganizations %}
                                <li>
                                {% if organization.organizationLogo is empty %}
                                    <img src="{{ asset('images/tmplogo_none.jpg') }}" width="61" height="61"/>
                                {% else %}
                                    <img src="{{ urlAssets }}/web/org/{{ organization.organizationLogo }}" width="61" height="61"/>
                                {% endif %}
                                    <p>{{ organization.organizationName }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if studyStaff is not empty %}
                        <div class="box alt staff last">
                            <h4>{% trans from "study" %}txt_staff{% endtrans %}</h4>
                            
                            <p>{% set length = 0 %}
                                {% for staff in studyStaff %} 
                                
                                {% if length < studyStaff|length %}
                                    {{ staff.representativeFirstname }} {{ staff.representativeLastname }},
                                    {% set length =  length+1 %}
                                {% else  %}
                                    {{ staff.representativeFirstname }} {{ staff.representativeLastname }}
                                {% endif %}
                            {% endfor %}</p>
                        </div>
                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
    <div id="div_register" style="display:none;">
        {% include 'CyclogramFrontendBundle:Authentification:signup_form.html.twig' %}
    </div>
    <div id="div_register_step2" style="display:none;">
        {% include 'CyclogramFrontendBundle:Authentification:signup_about_form.html.twig' %}
    </div>
    <div id="div_consent" style="display:none;">
        {% include 'CyclogramFrontendBundle:Authentification:consent.html.twig' %}
    </div>
    <div id="div_forgot_username" style="display:none;">
         {% include 'CyclogramFrontendBundle:Authentification:forgot_username_form.html.twig' %}
    </div>
    <div id="div_forgot_password" style="display:none;">
         {% include 'CyclogramFrontendBundle:Authentification:forgot_your_password_form.html.twig' %}
    </div>
    <div id="div_forgot_password_confirmation" style="display:none;">
         {% include 'CyclogramFrontendBundle:Authentification:reset_password_confirmation_content.html.twig' %}
    </div>
    
    <form id="email_list" style="display: none; " action="{{path('_email_to_friend')}}">

        <h1>{%  trans from "email" %}email_to_friends_title{% endtrans %}</h1>
        <div class="sender_info">
            <label for="tmp_who">{%  trans from "email" %}email_to_friends_who_sending{% endtrans %}</label>
            {% if participant_email is not defined %}
                <input id="tmp_who" type="text" name="send_from" class="text" placeholder="Type your e-mail"/><br />
            {% else %}
                <input type="hidden" value="{{ participant_email }}"  name="participant"/>
                <input id="tmp_who" type="text" name="send_from" class="text" value="{{ participant_email }}"/><br />
            {% endif %}
            <label for="tmp_to">{%  trans from "email" %}email_to_friends_who_are_you_sending{% endtrans %}</label>
            <input id="tmp_to" type="text" name="send_to[0]" class="text" placeholder="Type recipient email" /><br />
            <p class="others">
                <a href="#">+ {%  trans from "email" %}email_to_friends_add_email{% endtrans %}</a>
                <span>(up to 5 e-mails)</span>
            </p>
        </div>
        <div class="msg_details">
            <label for="tmp_subject">{%  trans from "email" %}email_to_friends_subject{% endtrans %}</label>
            <input id="tmp_subject" type="text" name="subject" class="text" value="{%  trans from "study" %}inivted_to_study{% endtrans %} {{ studycontent.studyName }}" />
            <label for="tmp_msg">{%  trans from "email" %}email_to_friends_message{% endtrans %}</label>
            <textarea rows="3" cols="28.5" name="description" class="text"></textarea>
            {% if studyCode is defined %}
                <input type="hidden" value="{{ studyCode }}"  name="studyCode"/>
            {% endif %}
            <a href="#" class="btn_cancel">{%  trans from "email" %}email_to_friends_cancle{% endtrans %}</a>
            <a href="#" class="btn_send_mail" id ="email_submit">{%  trans from "email" %}email_to_friends_send_button{% endtrans %}</a>
        </div>
    </form>
    <div id="div_temporaty_unavailable" style="display:none;">{%  trans from "study" %}unavailable_functionality{% endtrans %}</div>
    <div id="embed_list" style="display:none;">
        <code><a href="{{host}}{{path('_page', {'studyUrl' : studyUrl})}}">{{host}}{{path('_page', {'studyUrl' : studyUrl})}}</a></code>
    </div>
{% endblock content %}

{% block footer %}
    {% include '::footer.html.twig' %}
{% endblock footer %}
