{% extends '::general.html.twig' %}

{% block header %}
    {% include '::header.html.twig' %}
{% endblock header %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('#signup_about_form').submit(function(e){
        $(this).ajaxSubmit({
            dataType: "json",
            success: function(json) {
               if(json.error){
                    $('#signup_about_form_error').html('<p class="error">'+json.message+'</p>');
                } else if (json.url){
                	window.location.replace(json.url);
                }else {
                    $("#div_register_step2").dialog('close');
                    $("#div_consent").dialog({
                        modal: true,
                        width: 'auto',
                        fluid: true,
                        resizable: false,
                        position: ['top',100],
                        open: funcCustom
                    });
                }
            }
        });
        return false;
    });
});
</script>
{% endblock javascripts %}

{% block content %}
    <div class="intro_page">
        <div class="choose_action alt for_mobile">
        {% if studycontent.studySponsorBy is not empty %}
            <h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}: {{ studycontent.studySponsorBy }}</h3>
{#             <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>#}
        {% endif %}
        </div>
        <div class="home_welcome">
            <div class="welcome_banner"><img src="{{ logo }}" alt="" height="126" width="126"></div>
            <div class="welcome_text">
                <h2>{{ studycontent.studyName }}</h2>
                <p>{{ studycontent.studyTagline | raw}}</p>
            </div>
        </div>
        <div class="mobile desc">
            <p>{{ studycontent.studyTagline | raw}}</p>
        </div>

        {%if studyStatus  == 'Pre-Launch'%}
            {% if (queryParams["preLaunch"] is defined) %}
                <span class="prelaunch_msg">{{ queryParams["preLaunch"] }}</span>
            {% else %}
                <div class="input_msg">
                    {% if studyPrelaunchMessage is empty %}
                        <h1><span class="text red">{% trans from "register" %}let_know_launch{% endtrans %}</span></h1>
                    {% else %}
                        <h1><span class="text red">{{ studyPrelaunchMessage|striptags }}</span></h1>
                    {% endif %}
                </div>
                {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div id="prelaunch_input_box">
                        <input type="text" placeholder="enter e-mail address" id="prelaunch_email"></input><br>
                        <input type="checkbox" id="recruiter"></input><span>{% trans from "register" %}help_recruit_people{% endtrans %}</span>
                    </div>
                    {% if studyJoinButtonName is not empty%}
                        <a href="#" class="join for_mobile" id="send_prelaunch"><span>{{ studyJoinButtonName|striptags }}</span></a>
                    {% else %}
                        <a href="#" class="join for_mobile" id="send_prelaunch"><span>{% trans from "register" %}let_me_know{% endtrans %}</span></a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div id="logged_in_input_box">
                        <input type="checkbox" id="recruiter_loggedin"></input><span>{% trans from "register" %}help_recruit_people{% endtrans %}</span>
                    </div>
                    {% if studyJoinButtonName is empty %}
	                    <a href="#" class="join for_mobile" id="send_prelaunch_loggedin" >{% trans from "register" %}let_me_know{% endtrans %}</a>
                    {% else %}
                        <a href="#" class="join for_mobile" id="send_prelaunch_loggedin" >{{ studyJoinButtonName|striptags }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if not is_enrolled_in_study(studyCode) %}
                <a href="" class="join for_mobile consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
            {% endif %}
        {% endif %}
        <div class="choose_action">
        {% if studycontent.studySponsorBy is not empty %}
               <h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}: {{ studycontent.studySponsorBy }}</h3>
{#             <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>#}
        {% endif %}
        </div>
        {% if message is defined %}
            <p class="main_notification">
                <span>{{ message }}</span>
            </p>
        {% endif %}
        {% set queryParams = app.request.query.all %}
        {% if (queryParams["eligible"] is defined) and (queryParams["eligible"] == false) %}
            <p class="main_notification">
                <span>{% trans with {'%studyname%': studycontent.studyName } from "study" %}msg_not_eligible{% endtrans %}</span>
            </p>
        {% elseif is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_not_eligible_in_study(studyCode) %}
            <p class="main_notification">
                <span>{% trans with {'%studyname%': studycontent.studyName } from "study" %}msg_not_eligible{% endtrans %}</span>
            </p>
            {% endif %}
        {% endif %}
        <div class="text_wrapper">
            <div class="video_wrapper">
                <div class="video_placeholder">
                    {% if studycontent.studyVideo is not empty %}
                    <iframe width="670" height="393" 
                        src="{{ studycontent.studyVideo }}" frameborder="0" allowfullscreen>
                    </iframe>
                    {% else %}
                        <img src="{{ graphic }}" height="393" width="670">
                    {% endif %}
                </div>
                <div class="v_toolbar for_mobile">
                {% if studyAllowSharing %}
                    <ul class="social_share">
                        <li><span>Share:</span></li>
                        <li><a href='' class="fb" onClick="return postFeed('{{ reffferalFacebookStudyUrl }}','{{ studycontent.getStudyTagline }}','{{ facebookcontent }}','{{ graphic }}','{{ studycontent.getStudyName }}')"></a></li>
                        {% if reffferalShortStudyUrl is defined %}
                        <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ reffferalShortStudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw"></a></li>
                        <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ reffferalShortStudyUrl }}&amp;title={{ studycontent.studyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a></li>
                        {% else %}
                        <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ shortstudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw"></a></li>
                        <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shortstudyUrl }}&amp;title={{ studycontent.studyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" ></a></li>
                        {% endif %}
                        <li><a class="pn" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ reffferalPinterestStudyUrl }}&media={{ graphic }}&description={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false"></a></li>
                        <li><a target="_blank" class="email" href="#"></a></li>
                    </ul>
                  {% endif %}
                </div>
                <div class="video_text">
                    {% if preLaunchNotified is defined  and  preLaunchNotified == true%}
                        <span class="prelaunch_msg">we_will_notify_prelaunch</span>
                    {% elseif studyStatus  == 'Pre-Launch'%}
                        {% if (queryParams["preLaunch"] is defined) %}
                            <span class="prelaunch_msg">{{ queryParams["preLaunch"] }}</span>
                        {% else %}
                            <div class="input_msg">
                                {% if studyPrelaunchMessage is empty %}
                                	<h1><span class="text red">{% trans from "register" %}let_know_launch{% endtrans %}</span></h1>
                                {% else %}
                                    <h1><span class="text red">{{ studyPrelaunchMessage|striptags }}</span></h1>
                                {% endif %}
                            </div>
                            {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div id="prelaunch_input_box">
                                    <input type="text" placeholder="enter e-mail address" id="prelaunch_email"></input><br>
                                    <input type="checkbox" id="recruiter"></input><span>{% trans from "register" %}help_recruit_people{% endtrans %}</span>
                                </div>
                                {% if studyJoinButtonName is not empty%}
                                	<a href="#" class="join" id="send_prelaunch"><span>{{ studyJoinButtonName|striptags }}</span></a>
                                {% else %}
                                	<a href="#" class="join" id="send_prelaunch"><span>{% trans from "register" %}let_me_know{% endtrans %}</span></a>
                                {% endif %}
                                {% if studyJoinFacebookButton is empty %}
	                                <a class="fb" id="facebook_button_landing_page" href="">
	                                    <span>{% trans from "register" %}waitlist_with_facebook{% endtrans %}</span>
	                                </a>
                                {% else %}
                                	<a class="fb" id="facebook_button_landing_page" href="">
                                		<span>{{ studyJoinFacebookButton|striptags }}</span>
                                	</a>
                                {% endif %}
                                {% if studyJoinGoogleButton is empty %}
	                                <a class="gp" id="google_button_landing_page" href="">
                                    	<span>{% trans from "register" %}waitlist_with_google{% endtrans %}</span>
                                	</a> 
                                {% else %}
                                	<a class="gp" id="google_button_landing_page" href="">
                                		<span>{{ studyJoinGoogleButton|striptags }}</span>
                                	</a>
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div id="logged_in_input_box">
                                    <input type="checkbox" id="recruiter_loggedin"></input><span>{% trans from "register" %}help_recruit_people{% endtrans %}</span>
                                </div>
                                {% if studyJoinButtonName is empty %}
	                                <a href="#" class="join" id="send_prelaunch_loggedin" >{% trans from "register" %}let_me_know{% endtrans %}</a>
                                {% else %}
                                	<a href="#" class="join" id="send_prelaunch_loggedin" >{{ studyJoinButtonName|striptags }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                                <ul class="participants_num _rows_2">
                                    <li class="left">
                                        <span class="text">{% trans from "study" %}txt_participants{% endtrans %}</span>
                                        <span class="num">{{ studyParticipants }}</span>
                                    </li>
                                    <li class="right">
                                        <span class="text">{% trans from "study" %}txt_goal{% endtrans %}</span>
                                        <span class="num">{{ studyGoal }}</span>
                                    </li>
                                </ul>
                       {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                           {% if (queryParams["eligible"] is not defined) or (queryParams["eligible"] != false) %}
                               {% if studyJoinFacebookButton is empty %}
	                                <a class="fb" id="facebook_button_landing_page" href="">
                                   		<span>{% trans from "register" %}join_with_facebook{% endtrans %}</span>
                               		</a>
                                {% else %}
                                	<a class="fb" id="facebook_button_landing_page" href="">
                                		<span>{{ studyJoinFacebookButton|striptags }}</span>
                                	</a>
                                {% endif %}
                               {% if is_participant_register_last(studyCode) %}
                                   {% set redirectUrl = path('_signup')  %}
                                   {% if is_skip_consent(studyCode) and surveyId is not empty%}
                                        <a href="{{ path('_eligibility_survey', {'studyCode': studyCode, 'surveyId': surveyId, 'redirectUrl': redirectUrl} ) }}" class="join"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                                   {% elseif surveyId is empty %}
                                       <a href="{{ path('_consent', {'studyCode': studyCode, 'surveyId': surveyId}) }}" class="join"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                                   {% else %}
                                       <a href="" class="join consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                                   {% endif %}
                               {% else %}
                                   {% set redirectUrl = path('_main')  %}
                                   <a href="" class="join" id="register">
                                   <span>
                                   		{% if studyJoinButtonName is empty %}
                                   			{% trans from "study" %}button_join_the_study_goal{% endtrans %}
                                   		{% else %}
                                   			{{ studyJoinButtonName|striptags }}
                                   		{% endif %}
                                   </span></a>
                               {% endif %}
                               {% if studyJoinGoogleButton is empty %}
	                                <a class="gp" id="google_button_landing_page" href="">
                                    	<span>{% trans from "register" %}join_with_google{% endtrans %}</span>
                                	</a> 
                                {% else %}
                                	<a class="gp" id="google_button_landing_page" href="">
                                		<span>{{ studyJoinGoogleButton|striptags }}</span>
                                	</a>
                                {% endif %}
                             {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_enrolled_in_study(studyCode) %}
                                <a href="{{ path('_main')}}"><p class="already_joined"><span>{% trans from "study" %}you_are_participant{% endtrans %}</span></p></a>
                                <ul class="short_menu">
                                    <li><a href="#" class="sm_icon_1 consent">{% trans from "study" %}button_view_consent{% endtrans %}</a></li>
                                    <li><a href="#" class="sm_icon_2 temporaty_unavailable">{% trans from "study" %}button_personalized_insight{% endtrans %}</a></li>
                                    <li><a href="#" class="sm_icon_3 temporaty_unavailable">{% trans from "study" %}button_study_findings{% endtrans %}</a></li>
                                    <li class="last"><a href="#" class="sm_icon_4 leave_study">{% trans from "study" %}button_leave_study{% endtrans %}</a></li>
                                </ul>
                            {% elseif not is_not_eligible_in_study(studyCode) %}
                                {% set redirectUrl = path('_main')  %}
                                <p class="join">{% trans from "study" %}txt_join_before_goal{% endtrans %}</p>
                                <a href="" class="join consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="page_bg">
                <div class="home_text">
                    <div class="v_toolbar">
                    {% if studyAllowSharing %}
                        <ul class="social_share">
                            <li><a href='' class="fb" onClick="return postFeed('{{ reffferalFacebookStudyUrl }}','{{ shareStudyTagline }}','{{ facebookcontent }}','{{ graphic }}','{{ shareStudyName }}')"> {% trans from "study" %}txt_share{% endtrans %}</a></li>
                        {% if reffferalShortStudyUrl is defined %}
                            <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ reffferalShortStudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ shareStudyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
                            <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ reffferalShortStudyUrl }}&amp;title={{ shareStudyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" >{% trans from "study" %}txt_share{% endtrans %}</a></li>
                        {% else %}
                            <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ shortstudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ shareStudyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
                            <li><a class="ln" href="#" onclick="popUp=window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shortstudyUrl }}&amp;title={{ shareStudyName }}&amp;summary={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false" >{% trans from "study" %}txt_share{% endtrans %}</a></li>
                        {% endif %}
                            <li><a class="pn" href="#" onclick="popUp=window.open('//www.pinterest.com/pin/create/button/?url={{ reffferalPinterestStudyUrl }}&media={{ graphic }}&description={{ facebookcontent |raw }}', 'popupwindow', 'scrollbars=yes,width=600,height=450');popUp.focus();return false">{% trans from "study" %}txt_pin{% endtrans %}</a></li>
                            <li><a class="email" href="#">{% trans from "study" %}txt_email_to_friend{% endtrans %}</a></li>
                        </ul>
                    {% endif %}
                    </div>
                   <h1>
                   {% if studyAboutit is not defined %}
                       {% trans from "study" %}txt_studyabout_title{% endtrans %}</h1>
                   {% else %}
                       {{ studyAboutit }}
                   {% endif %}
                    {{ studycontent.studyAbout |raw }}
                    <h1>{% trans from "study" %}txt_studywhatsinvolved_title{% endtrans %}</h1>
                    {{ studycontent.studyWhatsInvolved | raw }}
                </div>
                <aside>
                    {% if studyOrganizations is not empty %}
                        <div class="box alt s_by">
                            <h4>{% trans from "study" %}txt_conducted_by{% endtrans %}</h4>
                            {% for organization in studyOrganizations %}
                            {% if organization.organizationLogo is empty %}
                                <img width="60" height="75" src="{{ asset('images/tmplogo_none.jpg') }}" class="logo_img">
                            {% else %}
                                <img width="60" height="75" src="{{ urlAssets }}/web/org/{{ organization.organizationLogo }}" class="logo_img">
                            {% endif %}
                                <p>{{ organization.organizationName }}, <br />
                                <span>{{ organization.organizationAddress1 }}</span></p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if affiliatedOrganizations is not empty %}
                        <div class="box alt s_org">
                            <h4>{% trans from "study" %}txt_affiliated_organizations{% endtrans %}</h4>
                            <ul class="aff_org_list">
                           {% for organization in affiliatedOrganizations %}
                                <li>
                                {% if organization.organizationLogo is empty %}
                                    <img src="{{ asset('images/tmplogo_none.jpg') }}" width="61" height="61"/>
                                {% else %}
                                    <img src="{{ urlAssets }}/web/org/{{ organization.organizationLogo }}" width="61" height="61"/>
                                {% endif %}
                                    <p>{{ organization.organizationName }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if studyStaff is not empty %}
                        <div class="box alt staff last">
                            <h4>{% trans from "study" %}txt_staff{% endtrans %}</h4>
                            
                            <p>{% set length = 0 %}
                                {% for staff in studyStaff %} 
                                
                                {% if length < studyStaff|length %}
                                    {{ staff.representativeFirstname }} {{ staff.representativeLastname }},
                                    {% set length =  length+1 %}
                                {% else  %}
                                    {{ staff.representativeFirstname }} {{ staff.representativeLastname }}
                                {% endif %}
                            {% endfor %}</p>
                        </div>
                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
    <div id="div_register" style="display:none;">
        {% include 'CyclogramFrontendBundle:Authentification:signup_form.html.twig' %}
    </div>
    <div id="div_register_step2" style="display:none;">
        {% include 'CyclogramFrontendBundle:Authentification:signup_about_form.html.twig' %}
    </div>
    <div id="div_consent" style="display:none;">
        {% include 'CyclogramFrontendBundle:Authentification:consent.html.twig' %}
    </div>
    <div id="div_forgot_username" style="display:none;">
         {% include 'CyclogramFrontendBundle:Authentification:forgot_username_form.html.twig' %}
    </div>
    <div id="div_forgot_password" style="display:none;">
         {% include 'CyclogramFrontendBundle:Authentification:forgot_your_password_form.html.twig' %}
    </div>
    <div id="div_forgot_password_confirmation" style="display:none;">
         {% include 'CyclogramFrontendBundle:Authentification:reset_password_confirmation_content.html.twig' %}
    </div>
    
    <form id="email_list" style="display: none; " action="{{path('_email_to_friend')}}">

        <h1>{%  trans from "email" %}email_to_friends_title{% endtrans %}</h1>
        <div class="sender_info">
            <label for="tmp_who">{%  trans from "email" %}email_to_friends_who_sending{% endtrans %}</label>
            {% if participant_email is not defined %}
                <input id="tmp_who" type="text" name="send_from" class="text" placeholder="Type your e-mail"/><br />
            {% else %}
                <input type="hidden" value="{{ participant_email }}"  name="participant"/>
                <input id="tmp_who" type="text" name="send_from" class="text" value="{{ participant_email }}"/><br />
            {% endif %}
            <label for="tmp_to">{%  trans from "email" %}email_to_friends_who_are_you_sending{% endtrans %}</label>
            <input id="tmp_to" type="text" name="send_to[0]" class="text" placeholder="Type recipient email" /><br />
            <p class="others">
                <a href="#">+ {%  trans from "email" %}email_to_friends_add_email{% endtrans %}</a>
                <span>(up to 5 e-mails)</span>
            </p>
        </div>
        <div class="msg_details">
            <label for="tmp_subject">{%  trans from "email" %}email_to_friends_subject{% endtrans %}</label>
            <input id="tmp_subject" type="text" name="subject" class="text" value="{%  trans from "study" %}inivted_to_study{% endtrans %} {{ studycontent.studyName }}" />
            <label for="tmp_msg">{%  trans from "email" %}email_to_friends_message{% endtrans %}</label>
            <textarea rows="3" cols="28.5" name="description" class="text"></textarea>
            {% if studyCode is defined %}
                <input type="hidden" value="{{ studyCode }}"  name="studyCode"/>
            {% endif %}
            <a href="#" class="btn_cancel">{%  trans from "email" %}email_to_friends_cancle{% endtrans %}</a>
            <a href="#" class="btn_send_mail" id ="email_submit">{%  trans from "email" %}email_to_friends_send_button{% endtrans %}</a>
        </div>
    </form>
    <div id="div_temporaty_unavailable" style="display:none;">{%  trans from "study" %}unavailable_functionality{% endtrans %}</div>
    <div id="div_leave_study" style="display:none;">{%  trans  with { '%mailer_from%': mailer_from } from "study" %}let_us_know_to_leave_study{% endtrans %}</div>
    <div id="embed_list" style="display:none;">
        <code><a href="{{host}}{{path('_page', {'studyUrl' : studyUrl})}}">{{host}}{{path('_page', {'studyUrl' : studyUrl})}}</a></code>
    </div>
{% endblock content %}

{% block footer %}
    {% include '::footer.html.twig' %}
{% endblock footer %}
