{% extends '::general.html.twig' %}

{% use '::facebook_blocks.html.twig' %}
{% use '::google_blocks.html.twig' %}

{% block javascripts %}
    {% include '::google_analytics.html.twig' %}
    <script src="{{ asset('/js/jquery.form.js') }}"></script>
    <script>
        $(document).ready(function(){

            // facebook authentification
            $('#facebook_button, #facebook_button_landing_page').click(function(e) { 
                e.preventDefault();
                e.stopPropagation();
                fb_login();
            });
            //google authentification
            $('#google_button, #google_button_landing_page').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                g_login();
            });
            //mail to friends
            $('.email').bind('click', function(e) {
                e.preventDefault();
                $('#email_list').dialog({
                    modal: true,
                    width: '300',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: function() {
                              $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                              $('<div class="modal_close_btn">×</div>').appendTo('#email_list');
                              $('.modal_close_btn, .cancel a').on('click', function() {
                                  $(this).closest('.ui-dialog-content').dialog("close");
                              });
                          }
                });
            });

            var count = 1;
            $('#email_list').on('click', 'a', function(e) {
                if (count < 5 ){
                    e.preventDefault();
                    $('<input type="text" name="send_to['+count+']"/>').insertBefore($(this));
                    count++;
                } else {
                    e.preventDefault();
                }
            });
            $('#email_list').submit(function(e){
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            $('#mail_send_result').removeClass("notice green").addClass("error");
                            $('#mail_send_result').show().html('<span>'+json.message+'</span>');
                        } else {
                            $('#mail_send_result').removeClass("error").addClass("notice green")
                            $('#mail_send_result').show().html('<span>'+json.message+'</span>');
                        }}
                });
                return false;
            });
            
            //registration ajax
            $("#register").bind('click', function(e) {
                e.preventDefault();
                $("#div_register").dialog({ 
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: function() {
                              $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                              $('<div class="modal_close_btn">×</div>').appendTo('#div_register');
                              $('.modal_close_btn, .cancel a').on('click', function() {
                                  $(this).closest('.ui-dialog-content').dialog("close");
                              });
                          }
                });

                $(window).resize(function () {
                    fluidDialog();
                });
                $(document).on("dialogopen", ".ui-dialog", function (event, ui) {
                    fluidDialog();
                });
                
                function fluidDialog() {
                    var $visible = $(".ui-dialog:visible");
                    // each open dialog
                    $visible.each(function () {
                        var $this = $(this);
                        var dialog = $this.find(".ui-dialog-content").data("ui-dialog");
                        // if fluid option == true
                        if (dialog.options.fluid) {
                            var wWidth = $(window).width();
                            // check window width against dialog width
                            if (wWidth < dialog.options.maxWidth + 50) {
                                // keep dialog from filling entire screen
                                $this.css("max-width", "90%");
                            } else {
                                // fix maxWidth bug
                                $this.css("max-width", dialog.options.maxWidth);
                            }
                            //reposition dialog
                            dialog.option("position", dialog.options.position);
                        }
                    });
                }
                
            });
            //consent ajax
            $("#consent").bind('click', function(e) {
                e.preventDefault();
                $("#div_consent").dialog({ 
                    modal: true,
                    width: 'auto',
                    fluid: true,
                    resizable: false,
                    position: ['top',100],
                    open: function() {
                              $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                              $('<div class="modal_close_btn">×</div>').appendTo('#div_consent');
                              $('.modal_close_btn, .cancel a').on('click', function() {
                                  $(this).closest('.ui-dialog-content').dialog("close");
                              });
                          }
                });

                $(window).resize(function () {
                    fluidDialog();
                });
                $(document).on("dialogopen", ".ui-dialog", function (event, ui) {
                    fluidDialog();
                });
                
                function fluidDialog() {
                    var $visible = $(".ui-dialog:visible");
                    // each open dialog
                    $visible.each(function () {
                        var $this = $(this);
                        var dialog = $this.find(".ui-dialog-content").data("ui-dialog");
                        // if fluid option == true
                        if (dialog.options.fluid) {
                            var wWidth = $(window).width();
                            // check window width against dialog width
                            if (wWidth < dialog.options.maxWidth + 50) {
                                // keep dialog from filling entire screen
                                $this.css("max-width", "90%");
                            } else {
                                // fix maxWidth bug
                                $this.css("max-width", dialog.options.maxWidth);
                            }
                            //reposition dialog
                            dialog.option("position", dialog.options.position);
                        }
                    });
                }
                
            });
            $('#registration_form').submit(function(e){
                $('.error').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error){
                            var messages = json.messages;
                            for (var i = 0; i < messages .length; i++){
                                var message = messages[i].message;
                                if(messages[i].password) {
                                    var property  = "#registration_"+messages[i].property+"_first";
                                    $(property).after('<p class="error">'+message+'</p>');
                                } else {
                                    var property  = "#registration_"+messages[i].property;
                                    $(property).after('<p class="error">'+message+'</p>');
                                } 
                            }
                        } else {
                            $("#div_register").dialog('close');
                            $("#div_register_step2").dialog();
                    }}
                });
                return false;
            });
            
            //login ajax
            $("#login_form").submit(function(e){
                $('.error').remove();
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(json.error) {
                            $('#reg_field_2').after('<div><p class="error">{%  trans from "login" %}txt_login_error_message{% endtrans %}</p></div>');
                        } else {
                            window.location.replace(json.url);
                        }
                    }
                });
                return false;
            });
            //forgot username ajax
            $("#forgot_username").bind('click', function(e){
         	   e.preventDefault();
         	   $("#div_register").dialog('close');
              $("#div_forgot_username").dialog({
                  modal: true,
                  width: 'auto',
                  fluid: true,
                  resizable: false,
                  position: ['top',100],
                  open: function() {
                            $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                            $('<div class="modal_close_btn">×</div>').appendTo('#div_forgot_username');
                            $('.modal_close_btn').on('click', function() {
                                $(this).closest('.ui-dialog-content').dialog("close");
                            });
                        }
              });
          });
            $("#forgot_username_form").submit(function(e){
           	$('.error').remove();
           	$('.notice').remove();
      	        $(this).ajaxSubmit({
    		        dataType: "json",
    	    	    success: function(json) {
        	    	    if(json.error){
       	    	    	    $('#mail_address_participantEmail').after('<div><p class="error">'+json.message+'</p></div>');

        	    	       } else {
        	    	    	  $('#mail_address_participantEmail').after('<div><p class="notice green">'+json.message+'</p></div>');
            	    	       }}
    	    	});
     	        return false;
                 });
            //forgot password ajax
            $("#forgot_password").bind('click', function(e){
         	   e.preventDefault();
         	   $("#div_register").dialog('close');
              $("#div_forgot_password").dialog({
            	  modal: true,
                  width: 'auto',
                  fluid: true,
                  resizable: false,
                  position: ['top',100],
                  open: function() {
                            $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                            $('<div class="modal_close_btn">×</div>').appendTo('#div_forgot_password');
                            $('.modal_close_btn').on('click', function() {
                                $(this).closest('.ui-dialog-content').dialog("close");
                            });
                        }
              });
          });
            $("#forgot_password_form").submit(function(e){
           	$('.error').remove();
      	        $(this).ajaxSubmit({
    		        dataType: "json",
    	    	    success: function(json) {
        	    	    if(json.error){
       	    	    	    $('#form_participantUsername').after('<div><p class="error">'+json.message+'</p></div>');

        	    	       } else {
        	             	   $("#div_forgot_password").dialog('close');
        	                  $("#div_forgot_password_confirmation").dialog();
            	    	       }}
    	    	});
     	        return false;
                 });
            // signup about ajax
            $('#signup_about_form').submit(function(e){
                $(this).ajaxSubmit({
                    dataType: "json",
                    success: function(json) {
                        if(!json.error){
                            $("#div_register_step2").dialog('close');
                            $("#div_consent").dialog({
                                modal: true,
                                width: 'auto',
                                fluid: true,
                                resizable: false,
                                position: ['top',100],
                                open: function() {
                                          $(this).dialog("widget").find(".ui-dialog-titlebar").hide();
                                          $('<div class="modal_close_btn">×</div>').appendTo('#div_consent');
                                          $('.modal_close_btn, .cancel a').on('click', function() {
                                              $(this).closest('.ui-dialog-content').dialog("close");
                                          });
                                      }
                            });
                        }
                    }
                });
                return false;
            });
            $('.embed').on('click', function(e) {
                e.preventDefault();
                $('#embed_list').dialog();
            });

            // mobile_login_switcher
            $(".mobile_login_switcher a").bind('click', function(){
                if( $(this).attr('rel') ){
                    if( !$(this).hasClass('expanded') ){
                        $(".mobile_login_switcher a").removeClass('expanded');
                        $(".loginform_left , .loginform_right").hide().removeClass('expanded');
                        $( $(this).attr('rel') ).addClass('expanded').show();
                        $(this).addClass('expanded');
                    } else {
                        $(".loginform_left , .loginform_right").hide().removeClass('expanded');
                        $(this).removeClass('expanded');
                    }
                }
                return false;
            });
        });
</script>
    <script type="text/javascript">
    //facebook share popup
    function fbs_click(width, height) {
        var leftPosition, topPosition;
        //Allow for borders.
        leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
        //Allow for title and status bars.
        topPosition = (window.screen.height / 2) - ((height / 2) + 50);
        var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
        u=location.href;
        window.open('http://www.facebook.com/sharer.php?s=100&p[url]='+encodeURIComponent(u)+'&p[title]={{ studycontent.studyName }}+&p[summary]={{ facebookcontent }}&p[images][0]={{ graphic }}','sharer', windowFeatures);
        return false;
    }
    
</script>
{% endblock javascripts %}


{% block header %}
    {% include '::study_header.html.twig' %}
{% endblock header %}


{% block content %}
  <div class="intro_page">
  
  	<div class="choose_action alt for_mobile">
		<h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}</h3>
        <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>
	</div>
    <div class="home_welcome">
      <div class="welcome_banner"><img src="{{ logo }}" alt="" height="126" width="126"></div>
      <div class="welcome_text">
        <h2>{{ studycontent.studyName }}</h2>
        <p>{{ studycontent.studyTagline | raw}}</p>
      </div>
    </div>
    
    <div class="mobile desc">
      <p>{{ studycontent.studyTagline | raw}}</p>
    </div>
    
    <div class="choose_action">
      <h3>{% trans from "study" %}txt_sponsored_by{% endtrans %}</h3>
      <a href="#" class="learn_more"><span>{% trans from "study" %}txt_learn_how{% endtrans %}</span></a>
    </div>
    {% if message is defined %}
        <p class="main_notification">
            <span>{{ message }}</span>
        </p>
    {% endif %}
    {% set queryParams = app.request.query.all %}
    {% if (queryParams["eligible"] is defined) and (queryParams["eligible"] == false) %}
        <p class="main_notification">
            <span>{% trans with {'%studyname%': studycontent.studyName } from "study" %}msg_not_eligible{% endtrans %}</span>
        </p>
    {% endif %}
    
    <div class="text_wrapper">
      <div class="video_wrapper">
        <a class="fb" id="facebook_button_landing_page" href=""><span>{% trans from "register" %}txt_join_with{% endtrans %} Facebook</span></a>
        <div class="video_placeholder"><img src="{{ graphic }}" height="393" width="670"></div>
        <div class="v_toolbar for_mobile">
    	    <ul class="social_share">
    	        <li><span>Share:</span></li>
                <li><a href='http://www.facebook.com/share.php?u=http://new-frontend-bogdand.proofpilot.dyndns.org' class="fb" onClick="return fbs_click(400, 300)" target = "_blank"></a></li>
                     <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ shortstudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
{#                     <li><a href="#" class="embed"></a></li>#}
                    <li><a target="_blank" class="email" href="#"></a></li>
            </ul>
	    </div>
        <div class="video_text">
			
                <ul class="participants_num _rows_2">
                    <li class="left">
                        <span class="text">{% trans from "study" %}txt_participants{% endtrans %}</span>
                        <span class="num">3102</span>
                    </li>
                    <li class="right">
                        <span class="text">{% trans from "study" %}txt_goal{% endtrans %}</span>
                        <span class="num">3000</span>
                    </li>
                </ul>
           
               {% if not is_granted('ROLE_PARTICIPANT') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                   <a class="fb" id="facebook_button_landing_page" href="">
                       <span>{% trans from "register" %}txt_join_with{% endtrans %} Facebook</span>
                   </a>
                   {% if is_registered_study(studyCode) %}
                       {% set redirectUrl = path('_signup')  %}
                       <a href="" class="join" id="consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                   {% else %}
                        {% set redirectUrl = path('_main')  %}
                        <a href="" class="join" id="register"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                   {% endif %}
                        <a class="gp" id="google_button_landing_page" href="">
                            <span>{% trans from "register" %}txt_join_with{% endtrans %} Google</span>
                        </a> 
                {% endif %}
                
                {% if is_granted('ROLE_PARTICIPANT') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_enrolled_in_study(studyCode) %}
                         <p class="already_joined"><span>You are a participant</span></p>
                            <ul class="short_menu">
                                <li><a href="#" class="sm_icon_1">View consent information</a></li>
                                <li><a href="#" class="sm_icon_2">Personalized insight</a></li>
                                <li><a href="#" class="sm_icon_3">Study findings</a></li>
                                <li class="last"><a href="#" class="sm_icon_4">Leave study</a></li>
                           </ul>
                    {% else%}
                    {% set redirectUrl = path('_main')  %}
                          <p class="join">{% trans from "study" %}txt_join_before_goal{% endtrans %}</p>
                          <a href="" class="join" id="consent"><span>{% trans from "study" %}button_join_the_study_goal{% endtrans %}</span></a>
                    {% endif %}
            {% endif %}
        </div>
      </div>
      <div class="page_bg">
        <div class="home_text">
            <div class="v_toolbar">
        		<ul class="social_share">
                    <li><a href='' class="fb" onClick="return fbs_click(400, 300,'{{ studycontent.studyName }}')" target = "_blank"> {% trans from "study" %}txt_share{% endtrans %}</a></li>
                    <li><a href="#" onclick="popUp=window.open('https://twitter.com/share?url={{ shortstudyUrl }}&text={%  trans from "study" %}social_join_study{% endtrans %} {{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="tw">{% trans from "study" %}txt_tweet{% endtrans %}</a></li>
{#                     <li><a href="#" class="embed">{% trans from "study" %}txt_embed{% endtrans %}</a></li>#}
                    <li><a class="email" href="#">{% trans from "study" %}txt_email_to_friend{% endtrans %}</a></li>
            </ul>
            </div>
            {{ studycontent.studyAbout |raw }}
            {{ studycontent.studyWhatsInvolved | raw }}
			<div class="see_more">
                <div class="col1">
                     <h3 class="about">{% trans from "study" %}txt_more_studies_about{% endtrans %}</h3>
                     <p>Social Studies, Behaviourism, Clinical depression</p>
                </div>
                <div class="col2">
                     <h3 class="location">{% trans from "study" %}txt_more_studies_in{% endtrans %}</h3>
                     <p>Los Angeles, San Diego, Los Angeles, San Diego, Los Angeles</p>
                </div>
                            
            </div>
      </div>
      
	  <aside>
	  <div class="box alt s_by">
	      <h4>{% trans from "study" %}txt_conducted_by{% endtrans %}</h4>
		      <img width="60" height="75" src="{{ asset('images/tmp_logo_1.jpg') }}" class="logo_img">
              <p>Autism Research Team Rush University, <br />
              <span>Chicago, IL USA</span></p>
	  </div>
	  <div class="box alt s_org">
	      <h4>{% trans from "study" %}txt_affiliated_organizations{% endtrans %}</h4>
		  <ul class="aff_org_list">
              <li>
                  <img src="{{ asset('images/tmplogo_none.jpg') }}" width="61" height="61"/>
                  <p>Radio Station 99.5FM</p>
              </li>
              <li>
              <img src="{{ asset('images/tmplogo_none2.jpg') }}" width="61" height="61"/>
                  <p>Jackson State Univirsity</p>
              </li>
              <li>
                  <img src="{{ asset('images/tmplogo_none.jpg') }}" width="61" height="61"/>
                  <p>My Brothers Keeper</p>
              </li>
          </ul>
	  </div>
      <div class="box alt staff last">
	      <h4>{% trans from "study" %}txt_staff{% endtrans %}</h4>
		  <p>Patty Bouvier, Nelson Muntz, Barney Gumble, Lionel Hutz, Charles Montgomery Burns</p>
	  </div>
	  </aside>
    </div>
  </div>
</div>
<div id="div_register" style="display:none;">
	{% include 'CyclogramFrontendBundle:Authentification:signup_form.html.twig' %}
</div>
	   
<div id="div_register_step2" style="display:none;">
	{% include 'CyclogramFrontendBundle:Authentification:signup_about_form.html.twig' %}
</div>
	   
<div id="div_consent" style="display:none;">
	{% include 'CyclogramFrontendBundle:Authentification:consent.html.twig' %}
</div>
<div id="div_forgot_username" style="display:none;">
     {% include 'CyclogramFrontendBundle:Authentification:forgot_username_form.html.twig' %}
</div>

<div id="div_forgot_password" style="display:none;">
     {% include 'CyclogramFrontendBundle:Authentification:forgot_your_password_form.html.twig' %}
</div>

<div id="div_forgot_password_confirmation" style="display:none;">
     {% include 'CyclogramFrontendBundle:Authentification:reset_password_confirmation_content.html.twig' %}
</div>
<form id="email_list" action="{{path('_email_to_friend', {'studyCode' : studyCode})}}">
    <p  id="mail_send_result" style="display: none"></p>
    <label>E-mail from:</label>
    <input type="text" name="send_from"/>
    <label>E-mail to:</label>
    <input type="text" name="send_to[0]"/>
    <a href=""> + add email(up to 5 e-mails )</a>
    <label>Subject:</label>
    <input type="text" name="subject" value="{%  trans from "study" %}social_join_study{% endtrans %}{{ studycontent.studyName }} {%  trans from "study" %}social_at_proofpilot{% endtrans %}"/>
    <textarea rows="" cols="22" name="description">{{ studycontent.studyAbout |striptags }}</textarea>
    <input type="submit" class="submit btn_login" value="SEND"/>
</form>

<div id="embed_list" style="display:none;">
    <code><a href="{{host}}{{path('_page', {'studyUrl' : studyUrl})}}">{{host}}{{path('_page', {'studyUrl' : studyUrl})}}</a></code>
</div>
{% endblock content %}
    {% block footer %}
    {% include '::study_footer.html.twig' %}
{% endblock footer %}
