<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>NEWSLETTER</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		html { margin: 0px; padding: 0px; }
		body { margin: 0px; padding: 0px; }
	</style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"style="margin: 0px; padding: 0px; background: #1e2833; background: -moz-linear-gradient(top, #1e2833 0%, #496275 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e2833), color-stop(100%,#496275));  background: -webkit-linear-gradient(top, #1e2833 0%,#496275 100%); background: -o-linear-gradient(top, #1e2833 0%,#496275 100%); background: -ms-linear-gradient(top, #1e2833 0%,#496275 100%); background: linear-gradient(to bottom, #1e2833 0%,#496275 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2833', endColorstr='#496275',GradientType=0 );">


	
	<table width="700" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td width="230">
				<a href="#"><img src="/newsletter/images/newsletter_logo.png" width="105" height="50" alt="" title="" style="display: block;" /></a>
			</td>
			<td width="110">
				<a href="#" style="color: #bcbfc2; font-family: Arial; font-size: 12px; text-decoration: none;">My Dashboard</a>
			</td>
			<td>
				<a href="#" style="color: #bcbfc2; font-family: Arial; font-size: 12px; text-decoration: none;">Communication Preferences</a>
			</td>
			<td>
				<a href="#" style="color: #bcbfc2; font-family: Arial; font-size: 12px; text-decoration: none;">Our Security</a>
			</td>
			<td align="right">
				<a href="#"><img src="/newsletter/images/newsletter_small_login.jpg" width="85" height="32" alt="" title="" style="display: block;" /></a>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="5" height="42">
				<a href="#" style="color: #979ba0; font-family: Arial; font-size: 11px; text-decoration: none;">Can’t see it? Open the Online Version.</a>
			</td>
		</tr>
	</table>


	<table width="700" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td height="35" colspan="3"><img src="/newsletter/images/white_top.png" width="700" height="35" alt="" title="" style="display: block;" /></td>
		</tr>
		<tr>
			<td width="31" style="background-color: white;">&nbsp;</td>
			<td width="643" style="background-color: white;">
			
				<p style="margin: 0px; padding: 0px; margin-bottom: 25px; color: #ae4840; font-family: Arial; font-weight: bold; font-size: 40px;">{{ email.title }}</p>
				
				<p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;">{{ email.info }}</p>
				
				<table width="643" cellpadding="0" cellspacing="0" align="center">
					<tr>
					    {% for text in surveys %}
						<td width="126" height="126" style="border-top: 1px solid #dfded5; border-bottom: 1px solid #dfded5;"><img src="{{ text.image }}" width="126" height="126" alt="" title="" style="display: block;" /></td>
						<td width="20" style="background-color: #f8f7ef; border-top: 1px solid #dfded5; border-bottom: 1px solid #dfded5;"></td>
						<td width="324" style="background-color: #f8f7ef; border-top: 1px solid #dfded5; border-bottom: 1px solid #dfded5;">
							<p style="margin: 0px; padding: 0px; color: #383b41; font-family: Arial; font-size: 18px; margin-bottom: 15px;">{{ text.title }}</p>
							<p style="margin: 0px; padding: 0px; color: #8f8f8d; font-family: Arial; font-size: 13px;">{{ text.content }}</p>
						</td>
						<td width="23" style="background-color: #f8f7ef; border-top: 1px solid #dfded5; border-bottom: 1px solid #dfded5;"></td>
						<td width="128"  style="background-color: #f8f7ef; border-top: 1px solid #dfded5; border-bottom: 1px solid #dfded5;"><a href="#"><img src="/newsletter/images/btn_do_it.jpg" width="128" height="43" alt="" title="" style="display: block;"/></a></td>
						<td width="22"><img src="/newsletter/images/bg_right.gif" width="22" height="128" alt="" title="" style="display: block;"/></td>
						{% endfor %}
					</tr>
				</table> 
				
				<p style="margin: 0px; padding: 0px; margin-bottom: 20px;">&nbsp;</p>
				
				<p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;">{{ email.text }}</p>

				<p style="margin: 0px; padding: 0px; margin-bottom: 35px; text-align: center;">
					<a href="#"><img src="/newsletter/images/newsletter_big_login.jpg" width="229" height="58" alt="" title="" style="display: inline-block;" /></a>
				</p>

				
				<p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;">P.s. manage your preferences for which alerts you want to receive. <a href="#" style="color: #c05b47;">Log in</a> to set your communication preferences.</p>
			
			</td>
			<td width="26" style="background-color: white;">&nbsp;</td>
		</tr>		
		<tr>
			<td height="16" colspan="3"><img src="/newsletter/images/white_bottom.png" width="700" height="16" alt="" title="" style="display: block;" /></td>
		</tr>
	</table>
	
	<table width="700" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td height="55">&nbsp;</td>
		</tr>
	</table>
	
	<table width="100%" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td style="background-color: #221e1e; height: 260px; text-align: center;">
			
				<table width="530" cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td>

							<p style="margin: 0px; padding: 0px; margin-bottom: 30px; text-align: center;"><img src="/newsletter/images/newletter_logo_footer.png" width="104" height="20" alt="" title="" style="display: inline-block;" /></p>

							<p style="margin: 0px; padding: 0px; color: #918f8f; font-family: Arial; font-size: 11px; line-height: 15px; margin-bottom: 15px; text-align: center;">This message was sent to matt@cyclogram<br />
			If you would like to update your e-mail address, please click here<br />
			VIsit Alert preferences tom manage your e-mail and mobile alerts<br />
			Please add team@proofpilot.com to your address book to ensure delivery of our e-mails to your inbox.<br />
			Note: We never share your online banking or ProofPilot.com paswords with anyone via e-mail, including us.</p>
							
							<p style="margin: 0px; padding: 0px; color: #918f8f; font-family: Arial; font-size: 11px; line-height: 15px; margin-bottom: 15px; text-align: center;">@2013 ProofPilot. / All Rights reserved<br />
			Cyclogram: 8605 Santa Monica Blvd #75475 West Hollywood, CA 90069<br />
			Privacy Policy / Terms and Conditions</p>
							
							<p style="margin: 0px; padding: 0px; color: #b14040; font-family: Arial; font-size: 11px; line-height: 15px; text-align: center;">Please do not reply to this email as the inbox is not monitored</p>						
						
						</td>
					</tr>
				</table>		
				

			
			</td>
		</tr>
	</table>

</body>
</html>