{# <div class="fb-login-button" data-show-faces="{{ showFaces }}" data-size="{{ size }}" data-scope="{{ scope }}" data-autologoutlink="{{ autologoutlink }}" data-width="{{ width }}" data-max-rows="{{ maxRows }}"  data-onlogin="{{ onlogin }}">#}
{#   {{ label }}#}
{# </div>#}

<a class="btn_reg fb" id="facebook_button" href="#"><span>{% trans from "login" %}txt_login_with{% endtrans %} Facebook</span></a>
