{% block frontend_choice_widget %}
    {{ block('widget_script') }}
    {% spaceless %}
        <span class="default_drop">
            <span class="bg">
                <span class="text" id="open_choice"></span>
            </span>
        </span>
        {% if expanded %}
            {{ block('frontend_checkbox_widget') }}
        {% else %}
            {{ block('frontend_select_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock frontend_choice_widget %}

{% block frontend_entity_widget %}
    {{ block('widget_script') }}
    {% spaceless %}
        <span class="default_drop">
            <span class="bg">
                <span class="text" id="open_choice_{{ label }}">{{ label }}</span>
            </span>
        </span>
        {% if expanded %}
            {{ block('frontend_checkbox_widget') }}
        {% else %}
            {{ block('frontend_select_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock frontend_entity_widget %}

{% block frontend_checkbox_widget %}
    {% spaceless %}
        <div class="dropmenu for_multiple" style="display: none;" id="multiple_choice_{{ label }}">
            <ul class="checkboxes">
                {% for child in form %}
                    <li>
                        <div class="checker">
                            <span> 
                                {{ form_widget(child) }}
                            </span>
                        </div>
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
            <div class="align_center">
                <a href="#" class="btn small close_dropmenu" id="close_choice_{{ label }}">Ok. DONE.</a>
            </div>
        </div>
    {% endspaceless %}
{% endblock frontend_checkbox_widget %}

{% block frontend_select_widget %}
    {% spaceless %}
        <div class="dropmenu for_single" style="display: none;" id="single_choice_{{ label }}">
            <ul class="single">
                {% for child in form %}
                    <li>
                        <a rel="{{ child.name }}" href="#" id="selected_choice_{{ label }}">{{ child.name }}</a>
                        <input type="hidden" value="{{ child.id }}"}>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock frontend_select_widget %}

{% block widget_script %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#open_choice_{{ label }}").bind('click', function(e) {
        	$("#multiple_choice_{{ label }}").hide();
        	$("#single_choice_{{ label }}").hide();
            e.preventDefault();
            if ({{ expanded }}) {
                $("#multiple_choice_{{ label }}").show();
            } else {
                $("#single_choice_{{ label }}").show();
            }
        });
        $("#close_choice_{{ label }}").bind('click', function(e) {
            var checked;
            $("input[name='{{ full_name }}[]']").each(function(){
                if($(this).is(':checked')) {
                    checked = $(this).parents('.checker').siblings('label').html();
                    return;
                }
            });
            $("#open_choice_{{ label }}").html(checked);
            $("#multiple_choice_{{ label }}").hide();
        });
        $("#selected_choice_{{ label }}").bind('click', function(e) {
        	$("#open_choice_{{ label }}").html($("#selected_choice_{{ label }}").html());
        });
    });
    </script>
{% endblock widget_script %}
