{% block frontend_choice_widget %}
    {{ block('widget_script') }}
    {% spaceless %}
        <span class="default_drop" id="open_choice_{{ name }}">
            <span class="bg">
                <span class="text">{{ label }}</span>
            </span>

        </span>
                 {% if (expanded and multiple) %}
            {{ block('frontend_checkbox_widget') }}
        {% else %}
            {{ block('frontend_select_widget') }}
        {% endif %}        

    {% endspaceless %}
{% endblock frontend_choice_widget %}

{% block frontend_entity_widget %}
    {{ block('widget_script') }}
    {% spaceless %}
        <span class="default_drop" id="open_choice_{{ name }}">
            <span class="bg">
                <span class="text" >{{ label }}</span>
            </span>
                 {% if (expanded and multiple) %}
            {{ block('frontend_checkbox_widget') }}
        {% else %}
            {{ block('frontend_select_widget') }}
        {% endif %}
        </span>


    {% endspaceless %}
{% endblock frontend_entity_widget %}

{% block frontend_checkbox_widget %}
    {% spaceless %}{% set foo = "test" %}
        <div class="dropmenu for_multiple" style="display: none;" id="multiple_choice_{{ name }}">
            <ul class="checkboxes">
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
            <div class="align_center">
                <a href="#" class="btn small close_dropmenu" id="close_choice_{{ name }}">Ok. DONE.</a>
            </div>
        </div>
    {% endspaceless %}
{% endblock frontend_checkbox_widget %}

{% block frontend_select_widget %}
    {% spaceless %}
    {% set foo = "test" %}
        <div class="dropmenu for_single" style="display: none;" id="single_choice_{{ name }}">
            <ul class="single">
                {% for child in form %}

                    {{ form_widget(child) }}
                {% endfor %}
                <input type="hidden" value="" name="{{ name }}" id="single_hidden_{{ name }}"/>
            </ul>
        </div>
    {% endspaceless %}
{% endblock frontend_select_widget %}

{% block widget_script %}
    <script type="text/javascript">
    $(document).ready(function(){
    	// for_multiple checkboxes
       

        $("#open_choice_{{ name }}").bind('click', function(e) {
        	$("[id^='multiple_choice']").hide();
        	$("[id^='single_choice']").hide();
            e.preventDefault();
            if ({{ (expanded and multiple)|default(0) }} ) {
                $("#multiple_choice_{{ name }}").show();
            } else {
                $("#single_choice_{{ name }}").show();
            }
        });
        if ({{ (expanded and multiple)|default(0)}} ) {
            $("#close_choice_{{ name }}").bind('click', function(e) {
                e.stopPropagation();
                var checked;
                $("#multiple_choice_{{ name }} div.checker span span").each(function(){
                    if($(this).hasClass('checked')) {
                        checked = $(this).parents('.checker').siblings('label').html();
                        return;
                    }
                });
                $("#open_choice_{{ name }} span[class='text']").html((checked)?checked:'{{ label }}');
                $("#multiple_choice_{{ name }}").hide();
            });
        } else {
            $("#single_choice_{{ name }} a[class='selected_choice']").bind('click', function(e) {
                e.stopPropagation();
                $("#open_choice_{{ name }} span[class='text']").html($(this).html());
                $("#single_choice_{{ name }}").hide();
                $("#single_hidden_{{ name }}").val($(this).attr('name'));
            });
        }
    });
    </script>
{% endblock widget_script %}

{% block radio_widget %}
{% spaceless %}
    {% if value is not empty %}
    <li>
        <a  href="#" class="selected_choice" name="{{ value }}">{{ label|trans({}, translation_domain) }}</a> 
    </li>
    {% endif %}
{% endspaceless %}
{% endblock radio_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type == 'text' %}
    <div class="cusotm_input">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
    {% else %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}