{% form_theme formAbout 'CyclogramFrontendBundle:Form:frontend_widgets.html.twig' %}
<div class="mobile_reg">
    <a class="close" href="#"></a>
    <p class="exlp">Tailor your experience with ProofPilot. Pre-Qualify for Studies.</p>
    <h1>Tell us a bit about yourself</h1>
    <div class="form_wrapper">
        <form  action="{{ path('_signup_about', {'studyCode' : studyCode}) }}" method="post" name="signup_about" id="signup_about_form" novalidate>    
            <div class="form_content">
                <span class="text_wrapper">I’m a</span> 
                {{ form_widget(formAbout.sexSelect) }}
                <span class="text_wrapper">of</span>
{#                 <br class="break_before_race" /> #}
                    {{ form_widget(formAbout.raceSelect) }}
                <span class="text_wrapper">who lives in</span> 
{#                 <br class="break_before_postcode"/> #}
                    {{ form_widget(formAbout.countrySelect) }}
{#                 <br class="break_postcode" />#}
                {{ form_widget(formAbout.zipcode) }} .
                <span class="text_wrapper">I was born on the</span> 
                     {{ form_widget(formAbout.daysSelect) }}
                <span class="text_wrapper">of</span>
                    {{ form_widget(formAbout.monthsSelect) }}
                    {{ form_widget(formAbout.yearsSelect) }}
{#                 <br class="break_year" />  #}
                <span class="text_wrapper">.</span>
{#                 <br class="break_1" />#}
                <span class="text_wrapper">I finished</span>
{#                 <br class="break_grade" /> #}
                {{ form_widget(formAbout.gradeSelect) }}
                <span class="text_wrapper">,</span>
{#                 <br class="break_before_work" />#}
                <span class="text_wrapper">work in</span>
                {{ form_widget(formAbout.industrySelect) }}
                <span class="text_wrapper">and make approximately</span> 
                {{ form_widget(formAbout.anunalIncome) }}
                <span class="text_wrapper">per year.</span>
                {#<br class="break_row" />#}
                <span class="text_wrapper">I’m</span>
                {{ form_widget(formAbout.maritalStatusSelect) }}
                <span class="text_wrapper">,</span>
                <span class="text_wrapper">interested in</span> 
                {{ form_widget(formAbout.interestedSelect) }}
{#                 <br class="break_and" />#}
                <span class="text_wrapper">and</span>
                {{ form_widget(formAbout.childrenSelect) }}
                <span class="text_wrapper last">children.</span>
{#                 <div class="dropmenu for_multiple dropmenu-race" data-update-text=".dropmenu-race">#}
{#                     <ul class="checkboxes">#}
{#                         {{ form_widget(formAbout.raceSelect) }}#}
{#                     </ul>#}
{#                     <div class="align_center">#}
{#                         <a href="#" class="btn small close_dropmenu">Ok. DONE.</a>#}
{#                                     </div>#}
{#                 </div>#}
                
                <div class="dropmenu for_single dropmenu-interested" data-update-text=".dropmenu-interedsted">
                    {{ form_widget(formAbout.interestedSelect) }}
                </div>
                            
                    </div>
                    
                    <p class="note">Any information you share with us is completly confidental and secure. See our <a href="#">Security and Privacy policy</a></p>
                    	
    	           <div class="align_center">
                        {{form_widget(formAbout.confirm, {'attr':{'class':'submit with_min_width btn_login'}}) }}
                   </div>
                    </form>
                
    			</div>
    			<script src="{{ asset('js/jquery.uniform.min.js') }}"></script>
    			  <script type="text/javascript">
    			    $(document).ready(function(){
    		            $("#signup_about_zipcode").on('blur', function() {
    		            	$('#error').remove(); 
    		            	var inputVal = $(this).val();
    		                var zipReg = /^[0-9]\d{4}-\d{4}|[0-9]{5}$/;
    		                if(!zipReg.test(inputVal)) {
    		                    $(this).after('<p class="error" id="error">{% trans from "register" %}txt_check_zipcode{% endtrans %}</p>');
    		            }});
    			        });
                  </script>