<li>
    <div class="text_wrapper">
        <div class="text_left">
            <h2><a href="" class="location_details">{{ organization.organizationName }}</a></h2>
            <p>{{ organization.organizationAddress1 }}<br>{{ organization.organizationAddress2 }}</p>
        </div>
        <div class="text_right">
            <a href="#" data-marker={{ organization.markerid }}>Select</a>
        </div>   
        <div class="info_box" style="display: none;">
            <div class="box_bg">
                <div class="text_cont">
                    <a href="#" class="close"></a>
                    <h1>{{ organization.organizationName }}</h1>
                    <p>{{ organization.organizationAddress1 }}<br>{{ organization.organizationAddress2 }}</p>
                    <hr/>
                    <div class="wrapper">
                        <p><strong>Organization Type:</strong><br/>Clinic</p>
                        <p><strong>On the Web:</strong><br /><a href="#">www.cbwchc.org</a></p>
                        <p><strong>Hours of Operation:</strong><br />Mon, Tues, Thurs, Wed, 9:30am-7pm; Sat, Sun, 8:30am-6pm.</p>
                        <p>
                            <strong>Services:</strong><br />
                            - Maecenas in mi vitae ligula suscipit hendrerit nec et eros.<br />
                            - Donec luctus quam at ipsum malesuada sodales.<br />
                            - Sed pulvinar enim non iaculis tempor.<br />
                            - Sed pulvinar enim non iaculis tempor.<br />
                            - Sed pulvinar enim non iaculis tempor.<br />
                            - Sed pulvinar enim non iaculis tempor.<br />
                            - Aenean at felis nec ligula congue pharetra.
                        </p>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</li>