{% form_theme formAboutMe '::fields_theme2.html.twig' %}

{% from '::macro.html.twig' import showonerror,hideonerror %}
           
  <div class="panel_right">
      <div class="dashboard_title about_me"> 
          <span class="align_to_middle">
              <h1>{% trans from "about_me" %}about_me_title{% endtrans %}</h1>
              <p>{% trans from "about_me" %}about_me_subtitle{% endtrans %}</p>
          </span> 
      </div>

      <div class="dashboard_panel" id="about_me_div">
          {% if message is defined %}
            <p class="notice green nomargin margin_top"><span>{{ message }}</span></p>
          {%  endif %}
          
            <form action="{{ path('_about_me') }}" method="POST", name="about_me" id="about_me_form">
              <ul class="settings_form">
                <li class="left_text form-country">{% trans from "about_me" %}txt_country{% endtrans %}</li>
                <li class="form_expanded form-country" {{ showonerror('country',expandedFormClass) }}>
                  <div class="wrapper about_me_expanded">
                    <div class="current_text" id="current_text_country">{{ participant.country}}</div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-country">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(formAboutMe.countrySelect) }}</div>
                      {{ form_widget(formAboutMe.countrySelect) }}
                      {{ form_errors(formAboutMe.countrySelect) }}
                    </div>
                    <div class="new_inputs_cont">
                    <div class="confirm_cont">
                        {{ form_widget(formAboutMe.countryConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                    </div>
                  </div>
                  </div>
                </li>
                <li class="middle_input form-country" {{ hideonerror('country',expandedFormClass) }}>
                    {{ form_widget(formAboutMe.country, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}, 'value': participant.country}) }}
                    {{ form_errors(formAboutMe.country) }}
                </li>
                <li class="edit_btn form-country" {{ hideonerror('country',expandedFormClass) }}><a href="#" data-form-cont=".form-country">{% trans from "about_me" %}txt_change{% endtrans %}</a></li>
                
                
                {# zipcode #}
                <li class="left_text form-zipCode">{% trans from "about_me" %}txt_zip_code{% endtrans %}</li>
                <li class="form_expanded form-zipCode"  {{ showonerror('zipCode',expandedFormClass) }}>
                  <div class="wrapper about_me_expanded">
                   <div class="current_text" id="current_text_zipcode">{{ participant.participantZipcode}}</div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-zipCode">Cancel</a></div>

                        <div class="new_inputs_cont with_margin">
                          <div class="for_label">{{ form_label(formAboutMe.newzipcode) }}</div>
                              {{ form_widget(formAboutMe.newzipcode) }}
                              {{ form_errors(formAboutMe.newzipcode) }}
                        </div>
                    <div class="confirm_cont">
                        {{ form_widget(formAboutMe.zipcodeConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                    </div>
                    </div>
                </li>
                <li class="middle_input form-zipCode" {{ hideonerror('zipCode',expandedFormClass) }}>

                    {{ form_widget(formAboutMe.zipcode, {'attr' : {'class' : 'middle_input', 'value' : participant.participantZipcode ,'readonly' : 'readonly'}}) }}
                    {{ form_errors(formAboutMe.zipcode) }}
                <li class="edit_btn form-zipCode" {{ hideonerror('zipCode',expandedFormClass) }}><a href="#" data-form-cont=".form-zipCode">{% trans from "about_me" %}txt_change{% endtrans %}</a></li>
                
                {# birthdate #}                
                <li class="left_text form-birthdate">{% trans from "about_me" %}txt_birthdate{% endtrans %}</li>
                <li class="form_expanded form-birthdate"  {{ showonerror('birthdate',expandedFormClass) }}>
                  <div class="wrapper about_me_expanded">
                  {% if  participant.participantBirthdate is not null %}
                    <div class="current_text" id="current_text_birthdate">{{ participant.participantBirthdate|date('d F Y') }}</div>
                    {% endif %}
                    <div class="close_cont"><a href="#" data-form-cont=".form-birthdate">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <span class="input_container">
                          {{ form_label(formAboutMe.birthdateSelect) }}
                          {{ form_widget(formAboutMe.birthdateSelect, {'attr' : {'readonly' : 'readonly'}}) }}
                          {{ form_errors(formAboutMe.birthdateSelect) }}
                      </span>
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(formAboutMe.birthdateConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                  </div>
                  </div>
                </li>
                <li class="middle_input form-birthdate" {{ hideonerror('birthdate',expandedFormClass) }}>
                {% if  participant.participantBirthdate is not null %}
                    {{ form_widget(formAboutMe.birthdate, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly', 'value' : participant.participantBirthdate|date('d F Y')}}) }}
                {% else %}
                    {{ form_widget(formAboutMe.birthdate, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}}) }}
               {% endif %}
                    {{ form_errors(formAboutMe.birthdate) }}
                <li class="edit_btn form-birthdate" {{ hideonerror('birthdate',expandedFormClass) }}><a href="#" data-form-cont=".form-birthdate">{% trans from "about_me" %}txt_change{% endtrans %}</a></li>
                
                {# sex #}      
                <li class="left_text form-sex">{% trans from "about_me" %}txt_sex{% endtrans %}</li>
                <li class="form_expanded form-sex"  {{ showonerror('sex',expandedFormClass) }}>
                  <div class="wrapper about_me_expanded">
                  {% if  participant.sex is not null %}
                    <div class="current_text" id="current_text_sex">{{ participant.sex.sexName }}</div>
                  {% endif %}
                    <div class="close_cont"><a href="#" data-form-cont=".form-sex">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <span class="input_container">
                      {{ form_label(formAboutMe.sexSelect) }}
                          {{ form_widget(formAboutMe.sexSelect) }}
                          {{ form_errors(formAboutMe.sexSelect) }}
                      </span>
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(formAboutMe.sexConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                  </div>
                  </div>
                </li>
                <li class="middle_input form-sex" {{ hideonerror('sex',expandedFormClass) }}>
                {% if  participant.sex is not null %}
                    {{ form_widget(formAboutMe.sex, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly', 'value' : participant.sex.sexName}}) }}
                {% else %}
                    {{ form_widget(formAboutMe.sex, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}}) }}
                {% endif %}
                    {{ form_errors(formAboutMe.sex) }}
                <li class="edit_btn form-sex" {{ hideonerror('incentiveEmail',expandedFormClass) }}><a href="#" data-form-cont=".form-sex">{% trans from "about_me" %}txt_change{% endtrans %}</a></li>
                
                {# interested #}
                <li class="left_text form-interested">{% trans from "about_me" %}txt_interested{% endtrans %}</li>
                  
                <li class="form_expanded form-interested"  {{ showonerror('interested',expandedFormClass) }}>
                  <div class="wrapper about_me_expanded">
                    <div class="current_text" id="current_text_interested"> {{ interest }} </div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-interested">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(formAboutMe.interestedSelect) }}</div>
                      <span class="input_container">
                          {{ form_widget(formAboutMe.interestedSelect) }}
                          {{ form_errors(formAboutMe.interestedSelect) }}
                      </span>
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(formAboutMe.interestedConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                        </div>
                        </div>
                  
                </li>
                <li class="middle_input form-interested" {{ hideonerror('interested',expandedFormClass) }}>
                    {{ form_widget(formAboutMe.interested, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly', 'value' : interest}}) }}
                    {{ form_errors(formAboutMe.interested) }}
                </li>
                   <li class="edit_btn form-interested" {{ hideonerror('interested',expandedFormClass) }}><a href="#" data-form-cont=".form-interested">{% trans from "about_me" %}txt_change{% endtrans %}</a></li>
                   
                   
                    {# race #}
                <li class="left_text form-race">{% trans from "about_me" %}txt_race{% endtrans %}</li>
                <li class="form_expanded form-race"  {{ showonerror('race',expandedFormClass) }}>
                  <div class="wrapper about_me_expanded">
                  {% if  participant.race is not null %}
                    <div class="current_text" id="current_text_race">{{ participant.race.raceName }}</div>
                  {% endif %}
                    <div class="close_cont"><a href="#" data-form-cont=".form-race">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <span class="input_container">
                          <span class="input_placeholder">
                          {{ form_label(formAboutMe.raceSelect) }}
                              {{ form_widget(formAboutMe.raceSelect) }}
                              {{ form_errors(formAboutMe.raceSelect) }}
                          </span>
                      </span>
                      </div>
                    <div class="confirm_cont">
                        {{ form_widget(formAboutMe.raceConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                     </div>
                     </div>
                  
                </li>
                <li class="middle_input form-race" {{ hideonerror('race',expandedFormClass) }}>
                {% if  participant.race is not null %}
                    {{ form_widget(formAboutMe.race, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly', 'value' : participant.race.raceName}}) }}
                {% else %}
                    {{ form_widget(formAboutMe.race, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}}) }}
                {% endif %}
                    {{ form_errors(formAboutMe.race) }}
                </li>
                   <li class="edit_btn form-race" {{ hideonerror('race',expandedFormClass) }}><a href="#" data-form-cont=".form-race">{% trans from "about_me" %}txt_change{% endtrans %}</a></li>
              </ul>
              {{ form_widget(formAboutMe.validationCheck) }}
              {{ form_widget(formAboutMe.interventionCode) }}
              {{ form_widget(formAboutMe.interventionType) }}
              {% if intervention is defined and intervention.type == 'About Me Info'  %}
                  <div style="center_align">
                      {{ form_widget(formAboutMe.formConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                  </div>
              {% endif %}
{#               {{ form_rest(form) }}#}
              {{ form_errors(formAboutMe) }}
            
            </form>
            
        </div>
    </div>
            <script src= {{ asset ('js/jquery.numeric.js') }}></script>
        <script type="text/javascript">
        $(document).ready(function(){
            {% if intervention is defined and intervention.type == 'About Me Info'  %}
            var interventionCode = '{{ intervention.code }}';
            var interventionType = '{{ intervention.type }}';
                    $('#about_me_interventionCode').val(interventionCode);
                    $('#about_me_interventionType').val(interventionType);
            {% endif %}
           });
        </script>