{%  extends '::dashboard.html.twig' %}

{% form_theme form '::fields_theme2.html.twig' %}

{% from '::macro.html.twig' import showonerror,hideonerror %}

    {% block content %}
    <div class="site_container">

    {% include '::header.html.twig' %}


      <div class="panel">
        <div class="panel_left">
{#           {% include '::profile_info.html.twig' %}#}
          <div class="menu_cont">
              {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_side_menu.html.twig','currentClass': 'active'}) }}
          </div>
        </div>
        <div class="panel_right">
          <div class="dashboard_title general_settings"> 
              <span class="align_to_middle">
                  <h1>{% trans from "general_settings" %}general_title{% endtrans %}</h1>
                  <p>{% trans from "general_settings" %}general_subtitle{% endtrans %}</p>
              </span> 
          </div>

          <div class="dashboard_panel">
          {% if message is defined %}
            <p class="notice green nomargin margin_top"><span>{{ message }}</span></p>
          {%  endif %}

               <form action="{{ path('_settings', {'_locale' : 'en'}) }}" method="POST", name="general_settings">
              <ul class="settings_form">
              {% if not is_granted('ROLE_FACEBOOK_USER') and not is_granted('ROLE_GOOGLE_USER') %}
              
                <li class="left_text form-username">{% trans from "general_settings" %}txt_username{% endtrans %}</li>
                <li class="form_expanded form-username" {{ showonerror('username',expandedFormClass) }}>
                  <div class="wrapper">
                    <div class="current_text">{{ participant.participantUserName }}</div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-username">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newUserName) }}</div>
                      {{ form_widget(form.newUserName) }}
                      {{ form_errors(form.newUserName) }}
                    </div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newUserNamePassword) }}<a href="{{ path('_forgot_pass') }}" class="forgot">{% trans from "general_settings" %}txt_forgot_it{% endtrans %}</a></div>
                          {{ form_widget(form.newUserNamePassword) }}
                          {{ form_errors(form.newUserNamePassword) }}
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.userNameConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                    </div>
                  </div>
                </li>
                <li class="middle_input form-username" {{ hideonerror('username',expandedFormClass) }}>
                    {{ form_widget(form.userName, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}, 'value': participant.participantUsername }) }}
                    {{ form_errors(form.userName) }}
                </li>
                <li class="edit_btn form-username" {{ hideonerror('username',expandedFormClass) }}><a href="#" data-form-cont=".form-username">{% trans from "general_settings" %}txt_change{% endtrans %}</a></li>
                
                
                {# password #}
                <li class="left_text form-password">{% trans from "general_settings" %}txt_password{% endtrans %}</li>
                <li class="form_expanded form-password"  {{ showonerror('password',expandedFormClass) }}>
                  <div class="wrapper">
                    <div class="close_cont"><a href="#" data-form-cont=".form-password">Cancel</a></div>
                    {% if passwordConfirmShow == false %}
                        <div class="new_inputs_cont with_margin">
                          <div class="for_label">{{ form_label(form.oldPassword) }}<a href="{{ path('_forgot_pass') }}" class="forgot">{% trans from "general_settings" %}txt_forgot_it{% endtrans %}</a></div>
                              {{ form_widget(form.oldPassword) }}
                              {{ form_errors(form.oldPassword) }}
                        </div>
                        <div class="new_inputs_cont">
                          <div class="for_label">{{ form_label(form.newPassword.first) }}</div>
                              {{ form_widget(form.newPassword.first) }}
                              {{ form_errors(form.newPassword.first) }}
                        </div>
                        <div class="new_inputs_cont">
                          <div class="for_label">{{ form_label(form.newPassword.second) }}</div>
                              {{ form_widget(form.newPassword.second) }}
                              {{ form_errors(form.newPassword.second) }}
                        </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.passwordSendSMS, {'attr':{'class' : 'btn_confirm'}}) }}
                    </div>
                  {% else %}
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.passwordMobileComfirm) }}</div>
                         {{ form_widget(form.passwordMobileComfirm) }}
                         {{ form_errors(form.passwordMobileComfirm) }}
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.passwordConfirm, {'attr':{'class' : 'btn_confirm disabled'}}) }}
                  </div>
                  {% endif %}
                  
                </li>
                <li class="middle_input form-password" {{ hideonerror('password',expandedFormClass) }}>
                    {{ form_widget(form.password, {'attr' : {'class' : 'middle_input', 'value' : 'password','readonly' : 'readonly'}}) }}
                    {{ form_errors(form.password) }}
                <li class="edit_btn form-password" {{ hideonerror('password',expandedFormClass) }}><a href="#" data-form-cont=".form-password">{% trans from "general_settings" %}txt_change{% endtrans %}</a></li>
                    {% set emailReadOnly = false %}
                {% else %}
                    {% set emailReadOnly = true %}
                {% endif %}
                
                {# email #}                
                <li class="left_text form-email">{% trans from "general_settings" %}txt_email{% endtrans %}</li>
                {% if not is_granted('ROLE_FACEBOOK_USER') and not is_granted('ROLE_GOOGLE_USER') %}
                <li class="form_expanded form-email"  {{ showonerror('email',expandedFormClass) }}>
                  <div class="wrapper">
                    <div class="current_text">{{ participant.participantEmail }}</div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-email">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newEmail.first) }}</div>
                      <span class="input_container">
                          {{ form_widget(form.newEmail.first) }}
                          {{ form_errors(form.newEmail.first) }}
                      </span>
                    </div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newEmail.second) }}</div>
                      <span class="input_container">
                          {{ form_widget(form.newEmail.second) }}
                          {{ form_errors(form.newEmail.second) }}
                      </span>
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.emailConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                  </div>
                </li>
                {% endif %}
                <li class="middle_input form-email" {{ hideonerror('email',expandedFormClass) }}>
                    {{ form_widget(form.email, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}, 'value' : participant.participantEmail }) }}
                    {{ form_errors(form.email) }}
                {% if not is_granted('ROLE_FACEBOOK_USER') and not is_granted('ROLE_GOOGLE_USER') %}
                <li class="edit_btn form-email" {{ hideonerror('email',expandedFormClass) }}><a href="#" data-form-cont=".form-email">{% trans from "general_settings" %}txt_change{% endtrans %}</a></li>
                {% endif %}
                
                {# incentive email #}      
                <li class="left_text form-email min_line_heigth">{% trans from "general_settings" %}txt_incentive_email{% endtrans %}</li>
                {% if not is_granted('ROLE_FACEBOOK_USER') and not is_granted('ROLE_GOOGLE_USER') %}
                <li class="form_expanded form-incentiveEmail"  {{ showonerror('incentiveEmail',expandedFormClass) }}>
                  <div class="wrapper">
                    <div class="current_text">{{ participant.participantAppreciationEmail }}</div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-incentiveEmail">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newIncentiveEmail.first) }}</div>
                      <span class="input_container">
                          {{ form_widget(form.newIncentiveEmail.first) }}
                          {{ form_errors(form.newIncentiveEmail.first) }}
                      </span>
                    </div>
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newIncentiveEmail.second) }}</div>
                      <span class="input_container">
                          {{ form_widget(form.newIncentiveEmail.second) }}
                          {{ form_errors(form.newIncentiveEmail.second) }}
                      </span>
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.incentiveEmailConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                  </div>
                </li>
                {% endif %}
                <li class="middle_input form-incentiveEmail" {{ hideonerror('incentiveEmail',expandedFormClass) }}>
                    {{ form_widget(form.incentiveEmail, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}, 'value' : participant.participantAppreciationEmail }) }}
                    {{ form_errors(form.incentiveEmail) }}
                {% if not is_granted('ROLE_FACEBOOK_USER') and not is_granted('ROLE_GOOGLE_USER') %}
                <li class="edit_btn form-incentiveEmail" {{ hideonerror('incentiveEmail',expandedFormClass) }}><a href="#" data-form-cont=".form-incentiveEmail">{% trans from "general_settings" %}txt_change{% endtrans %}</a></li>
                {% endif %}
                
                {# mobile #}
                <li class="left_text form-mobile">{% trans from "general_settings" %}txt_mobile_number{% endtrans %}</li>
                  
                <li class="form_expanded form-mobile"  {{ showonerror('mobile',expandedFormClass) }}>
                  <div class="wrapper">
                    <div class="current_text">{{ participant.participantMobileNumber }}</div>
                    <div class="close_cont"><a href="#" data-form-cont=".form-mobile">Cancel</a></div>
                    {% if phoneConfirmShow == false  %}
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newPhoneNumberSmall) }}</div>
                      <span class="input_container">
                          <span class="input_placeholder">
                              {{ form_widget(form.newPhoneNumberSmall,{'attr':{'class' : 'default_input tac small'}}) }}
                              {{ form_errors(form.newPhoneNumberSmall) }}
                              {{ form_widget(form.newPhoneNumberWide,{'attr':{'class' : 'default_input wide'}}) }}
                              {{ form_errors(form.newPhoneNumberWide) }}
                          </span>
                      </span>
                      </div>
                      {% if not is_granted('ROLE_FACEBOOK_USER') and not is_granted('ROLE_GOOGLE_USER') %}
                    <div class="new_inputs_cont">
                      <div class="for_label">{{ form_label(form.newPhoneNumberPassword) }}<a href="{{ path('_forgot_pass') }}" class="forgot">{% trans from "general_settings" %}txt_forgot_it{% endtrans %}</a></div>
                      <span class="input_container">
                          {{ form_widget(form.newPhoneNumberPassword) }}
                          {{ form_errors(form.newPhoneNumberPassword) }}
                      </span>
                    </div>
                    {% endif %}
                    <div class="confirm_cont">
                        {{ form_widget(form.phoneSendSMS, {'attr':{'class' : 'btn_confirm'}}) }}
                     </div>
                     {% else %}
                    <div class="new_inputs_cont">
                      <div class="for_label"><label>{{ form_label(form.newPhoneNumberSMS) }}</label></div>
                      <span class="input_container">
                          {{ form_widget(form.newPhoneNumberSMS) }}
                          {{ form_errors(form.newPhoneNumberSMS) }}
                      </span>
                    </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.phoneConfirm, {'attr':{'class' : 'btn_confirm disabled'}}) }}
                    </div>
                     {% endif %}
                  
                </li>
                <li class="middle_input form-mobile" {{ hideonerror('mobile',expandedFormClass) }}>
                    {{ form_widget(form.phoneNumber, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}, 'value': participant.participantMobileNumber}) }}
                    {{ form_errors(form.phoneNumber) }}
                </li>
                   <li class="edit_btn form-mobile" {{ hideonerror('mobile',expandedFormClass) }}><a href="#" data-form-cont=".form-mobile">{% trans from "general_settings" %}txt_edit{% endtrans %}</a></li>
                   
                   
                    {# locale #}
                <li class="left_text form-language">{% trans from "general_settings" %}txt_language{% endtrans %}</li>
                  
                <li class="form_expanded form-language"  {{ showonerror('language',expandedFormClass) }}>
                  <div class="wrapper">
                    {% if  participant.participantLanguage is not null %}
                      <div class="current_text">{{ participant.participantLanguage.languageName }}</div>
                    {% endif %}
                    <div class="close_cont"><a href="#" data-form-cont=".form-language">Cancel</a></div>
                    <div class="new_inputs_cont">
                      <span class="input_container">
                          <span class="input_placeholder">
                              {{ form_label(form.languageSelect) }}
                              {{ form_widget(form.languageSelect) }}
                              {{ form_errors(form.languageSelect) }}
                          </span>
                      </span>
                      </div>
                    <div class="confirm_cont">
                        {{ form_widget(form.languageConfirm, {'attr':{'class' : 'btn_confirm'}}) }}
                     </div>
                  
                </li>
                <li class="middle_input form-language" {{ hideonerror('language',expandedFormClass) }}>
                {% if  participant.participantLanguage is not null %}
                    {{ form_widget(form.language, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}, 'value': participant.participantLanguage.languageName }) }}
                {% else %}
                    {{ form_widget(form.language, {'attr' : {'class' : 'middle_input', 'readonly' : 'readonly'}}) }}
                {% endif %}
                    {{ form_errors(form.language) }}
                </li>
                   <li class="edit_btn form-language" {{ hideonerror('language',expandedFormClass) }}><a href="#" data-form-cont=".form-language">{% trans from "general_settings" %}txt_edit{% endtrans %}</a></li>
              </ul>
              {{ form_widget(form.validationCheck) }}
{#               {{ form_rest(form) }}#}
              {{ form_errors(form) }}
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include '::footer.html.twig' %}
    {% endblock content %}
