          <div class="mobile_reg login_form" style="margin-top: 20px;">
            <form novalidate method="post" action="{{ path('_shipping') }}" name="mailing_address">
              <div class="loginform_left mailing_adress" style="padding-top: 0px; width: auto; float: none;">
                <div class="input_container" style="width: 44%">
                  <label>{% trans from "register" %}label_firstname{% endtrans %}</label>
                  {{ form_widget(form.participantFirstname, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.participantFirstname) }}
                </div>
                <div class="input_container" style="width: 44%">
                  <label>{% trans from "register" %}label_lastname{% endtrans %}</label>
                  {{ form_widget(form.participantLastname, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.participantLastname) }}
                </div>
                <div>
                  <label>{% trans from "register" %}label_address1{% endtrans %}</label>
                  {{ form_widget(form.participantAddress1, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.participantAddress1) }}
                </div>
                <div>
                  <label>{% trans from "register" %}label_address2{% endtrans %}</label>
                  {{ form_widget(form.participantAddress2, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.participantAddress2) }}
                </div>
                <div class="input_container" style="width: 21%">
                  <label>{% trans from "register" %}label_zipcode{% endtrans %}</label>
                  {{ form_widget(form.participantZipcode, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.participantZipcode) }}
                </div>
                <div class="input_container" style="width: 46%">
                  <label>{% trans from "register" %}label_city{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  {{ form_widget(form.city, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.city) }}
                </div>
                <div class="input_container" style="width: 13%">
                  <label>{% trans from "register" %}label_state{% endtrans %}</label>
                  {{ form_widget(form.state, {'attr' : {'class' : 'text'}}) }}
                  {{ form_errors(form.state) }}
                </div>
                <div class="checkbox_placeholder">
                {{ form_label(form.sign) }}
                  {{ form_widget(form.sign) }}
                  {{ form_errors(form.sign) }}
                </div>
                <span class="error">{{ form_errors(form) }}</span>
              </div>
              <div class="center_align">
              <button type="submit" class="submit ">{% trans from "shipping_information" %}shipping_update_button{% endtrans %}</button>
{# {{ form_widget(form.saveMailingAddress, {'attr':{'class':'submit'}}) }}#}
                {{ form_widget(form.cityId) }}
                {{ form_widget(form.stateId) }}
              </div>
            </form>
          </div>