{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
<td style="padding-left: 30px; padding-right: 30px;">
    <table style="margin-bottom: 30px; width: 580px;">
        <tbody>
            <tr>
                <td style="border-bottom: 1px dotted #999D93;">
                    <h3 style="color: #B9433A; font-size: 25px; font-weight: bold; margin: 0 0 22px; padding: 0;">Here's what you've got to do at ProofPilot</h3>
                </td>
            </tr>
        </tbody>
    </table>
    {% for intervention in interventions %}
        <table style="width: 580px; margin-bottom: 30px;">
            <tbody>
                <tr>
                    <td style="width: 79px; border-bottom: 1px dotted #999D93; padding-bottom: 30px; vertical-align: middle;">
                        <img width="75" height="75" src="{{ intervention.logo }}" style="border: 2px solid #96BD30;">
                    </td>
                    <td style="padding-left: 25px; border-bottom: 1px dotted #999D93; padding-bottom: 30px; vertical-align: middle;">
                        <h3 style="font-size: 20px; margin: 0 0 10px; padding: 0;">{{ intervention.title|raw}}</h3>
                        <p style="font-size: 13px; margin: 0; color: #555;">{{ intervention.content|raw }}</p>
                    </td>
                    <td style="text-align: right; width: 150px; border-bottom: 1px dotted #999D93; padding-bottom: 30px; vertical-align: middle;">
                        <a href="{{ siteurl }}" style="background: none repeat scroll 0 0 #8AB524; border: 1px solid #7EA61F; border-radius: 4px 4px 4px 4px; color: #FFFFFF;
                                                       display: inline-block; font-size: 18px; font-weight: bold; padding: 12px 18px; text-decoration: none;">{{ 'do_it' | trans({}, "email", locale) }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    <table style="width: 580px">
        <tbody>
            <tr>
                {% for study in studies %}
                    <td style="vertical-align: top;">
                        {% if study.studyLogo is empty %}
                            <a href="{{  url('_page', {'_locale': locale, 'studyUrl' : study.studyCode}) }}"  style="display: inline-block; margin: 0 auto; width: 164px;"><img src="{{ images.tmp_logo }}" width="165" height="109"  style="margin-bottom: 20px;" alt="" title=""/></a>
                        {% else %}
                             <a href="{{  url('_page', {'_locale': locale, 'studyUrl' : study.studyCode}) }}"  style="display: inline-block; margin: 0 auto; width: 164px;"><img src="{{ study_image_url }}/{{ study.studyId }}/{{ study.studyLogo }}" width="165" height="109"  style="margin-bottom: 20px;" alt="" title=""/></a>
                        {% endif %}
                        <h4 style="font-size: 1.1em; margin: 0 0 15px; padding: 0; text-align: left; width: 165px;"><a style="color: #000 !important; font-size: 0.8em; text-decoration: none;"href="{{ url('_page', {'_locale': locale, 'studyUrl' : study.studyCode}) }}">{{ study.studyName }}</a></h4>
                        <p style="color: #969696; text-align: left; width: 165px;">{{ study.studyTagline | raw }}</p>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</td>
{% endblock email_content %}
