{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
<td style="background-color: white; padding-left: 30px; padding-right: 30px;">
    <table style="width: 580px; margin-bottom: 30px;">
        <tbody>
            <tr>
                <td style="border-bottom: 1px dotted #999D93;">
                    <h3 style="color: #B9433A; font-size: 18px; margin: 0 0 15px; padding: 0;">{{ 'message_from' | trans({}, "email", locale) }}: {{ from | raw }}</h3>
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px dotted #999D93; border-bottom: 1px dotted #999D93; padding: 15px 0;">
                    <p style="color: #555555; font-size: 13px; margin: 0;">
                    {{ desription }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width: 580px; border-bottom: 1px dotted #999D93; margin-bottom: 20px;">
        <tbody>
            <tr>
                <td style="padding-right: 20px; vertical-align: top; width: 79px;">
                    <img width="75" height="75" src="{{ graphic }}" style="border: 2px solid #96BD30;" />
                </td>
                <td class="middle">
                    <div style="margin-top: 0px;"
                        {{ studycontent.studyAbout |raw }}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 45px; padding-top: 40px; text-align: center;"colspan="2">
                {% if url is defined %}
                    <a href="{{ url }}" style="background: none repeat scroll 0 0 #8AB524; border: 1px solid #7EA61F; border-radius: 4px 4px 4px 4px; color: #FFFFFF; display: inline-block; font-size: 20px; font-weight: bold; padding: 15px 50px 15px 60px; text-align: center; text-decoration: none;">{{ 'join' | trans({}, "email", locale) }}</a>
                 {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{# {% include 'CyclogramFrontendBundle:Email:email_studies_list.html.twig' %}#}
</td>
{% endblock email_content %}