<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>NEWSLETTER</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<style type="text/css">
	    table {
	        width: 620px;
	    }
	    p {
	        font-size: 11px;
	    }
        @media only screen and (max-device-width: 480px) {      
            /* mobile-specific CSS styles go here */
            .top_menu td {
                display: block;
                font-size: 30px;
            }
            .top_menu {
                padding-left: 30px;
            }
            .featured_box .text_box {
                width: 100%;
                display: block;
            }
            .featured_box .button_box {
                -moz-box-sizing: border-box;
                clear: both;
                float: none;
                padding: 0;
                width: 100%;
            }
            .login_btn {
                margin: 0px 50px 50px 0px;
            }
            .login_btn a {
                height: 50px !important;
                line-height: 50px !important;
            }
            .button_box a {
                height: 70px !important;
                line-height: 70px !important;
                font-size: 20px !important;
            }
            h4 {
                margin-top: 0px;
                font-size: 2.2em !important;
            }
            p {
                font-size: 1.5em !important;
                line-height: 1.5em !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"style="margin: 0px; padding: 0px; background: #1e2833; background: -moz-linear-gradient(top, #1e2833 0%, #496275 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e2833), color-stop(100%,#496275));  background: -webkit-linear-gradient(top, #1e2833 0%,#496275 100%); background: -o-linear-gradient(top, #1e2833 0%,#496275 100%); background: -ms-linear-gradient(top, #1e2833 0%,#496275 100%); background: linear-gradient(to bottom, #1e2833 0%,#496275 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2833', endColorstr='#496275',GradientType=0 );">

	<table cellpadding="0" cellspacing="0" align="center" class="top_menu">
		<tr>
			<td>
				<a href="#"><img src="{{ images.logo_top }}" alt="" title="" style="display: block;" /></a>
			</td>
			{#<td>
				<a href="{{ host }}/{{ locale }}/main" style="color: #bcbfc2; font-family: Arial; text-decoration: none;">{{ 'my_dahsboard' | trans({}, "email", locale) }}</a>
			</td>#}
			<td align="right">
				<a href="{{ host }}/{{ locale }}/main/contact_prefs" style="color: #bcbfc2; font-family: Arial; text-decoration: none;">{{ 'communictaion_preferences' | trans({}, "email", locale) }}</a>
			</td>
			{#<td>
				<a href="{{ host }}/{{ locale }}/sexpro/is_it_secure" style="color: #bcbfc2; font-family: Arial; text-decoration: none;">{{ 'our_security' | trans({}, "email", locale) }}</a>
			</td>
			<td align="right" class="login_btn">
				{% if siteurl is defined %}<a href="{{ host }}/{{ locale }}/login" style="background: #B73B32; 
                border-radius: 3px 3px 3px 3px; color: #FFFFFF; display: inline-block;
                height: 30px; line-height: 30px; padding-left: 25px; padding-right: 25px; text-decoration: none;">{% else %}<a href="#"> {% endif %}Login</a>
			</td>#}
		</tr>
	</table>

	<table cellpadding="0" cellspacing="0" align="center" style="background-color: #fff;">
		<tr style="border: none;">
			<td height="35" colspan="3"><img src="{{ images.white_top }}" width="620" height="35" alt="" title="" style="display: block;" /></td>
		</tr>
		<tr style="border: none;">
			<td width="31">&nbsp;</td>
			{% block email_content %}
            
			{% endblock %}
			<td width="26">&nbsp;</td>
		</tr>		
		<tr style="border: none;">
			<td height="16" colspan="3"><img src="{{ images.white_bottom }}" width="620" height="16" alt="" title="" style="display: block;" /></td>
		</tr>
	</table>
	
	<table cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td height="55">&nbsp;</td>
		</tr>
	</table>
	
	<table cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td style="background-color: #221e1e; height: 260px; text-align: center;">
			
				<table width="530" cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td>

							<p style="margin: 0px; padding: 0px; margin-bottom: 30px; text-align: center;"><img src="{{ images.logo_footer }}" width="104" height="20" alt="" title="" style="display: inline-block;" /></p>

							<p style="margin: 0px; padding: 0px; color: #918f8f; font-family: Arial; line-height: 15px; margin-bottom: 15px; text-align: center;">{{ 'bottom_text' | trans({'%mail_to%': email, '%general_settings_link%': url('_settings')}, "email", locale) | raw }}</p>
							
							<p style="margin: 0px; padding: 0px; color: #918f8f; font-family: Arial; line-height: 15px; margin-bottom: 15px; text-align: center;">{{ 'bottom_street' | trans({}, "email", locale) | raw }}</p>
							
							<p style="margin: 0px; padding: 0px; color: #b14040; font-family: Arial; line-height: 15px; text-align: center;">{{ 'bottom_no_reply' | trans({}, "email", locale) }}</p>						
						
						</td>
					</tr>
				</table>		
				
			</td>
		</tr>
	</table>

</body>
</html>