<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>NEWSLETTER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
        table {
            width: 640px;
        }
        p {
            font-size: 11px;
        }
        @media only screen and (max-device-width: 480px) {      
            /* mobile-specific CSS styles go here */
            .top_menu td:first-child {
                float: left;
            }
            .top_menu td:nth-child(2) {
                font-size: 25px;
                float: right;
                margin-right: 20px;
                margin-top: 25px;
            }
            .top_menu {
                padding-left: 30px;
            }
            .featured_box .text_box {
                width: 100%;
                display: block;
            }
            .featured_box .button_box {
                -moz-box-sizing: border-box;
                clear: both;
                float: none;
                padding: 0;
                width: 100%;
            }
            .login_btn {
                margin: 0px 50px 50px 0px;
            }
            .login_btn a {
                height: 50px !important;
                line-height: 50px !important;
            }
            .button_box a {
                height: 70px !important;
                line-height: 70px !important;
                font-size: 20px !important;
            }
            h4 {
                margin-top: 0px;
                font-size: 1.5em !important;
            }
            p {
                font-size: 1.3em !important;
                line-height: 1.3em !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" {% if branding != 'knowathome' %} style="margin: 0px; padding: 0px; background: #132F3E;" {% endif %}
      style="margin: 0px; padding: 0px; background: #878681; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2833', endColorstr='#496275',GradientType=0 );">

    <table cellpadding="0" cellspacing="0" align="center" class="top_menu" style="width: 640px;">
        <tr>
            <td align="left">
                {% if branding != 'knowathome' %}{% if images.logo_top is defined %}<a href="#"><img src="{{ images.logo_top }}" alt="" title="" style="display: block;" /></a>{% endif %}{% else %}
                <a href="#"><img src="{{ images.logo_knowathome }}" alt="" title="" style="display: block;" /></a>{% endif %}
            </td>
            <td align="right">
                <a href="{{ host }}" style="color: #bcbfc2; font-family: Arial; text-decoration: none;">{% if images.login is defined %}<img width="18" height="14" style="display: inline-block !important;" src="{{ images.login }}" />{% endif %}{{ 'email_login' | trans({}, "email", locale) }}</a>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" align="center" style="background-color: #fff; border-top: 4px solid #B73B32; width: 640px;" class="content">
        <tr>
            <td height="35" colspan="3"></td>
        </tr>
        <tr style="border: none;">
            {% block email_content %}

            {% endblock %}
        </tr>		
        <tr style="border: none;">
            <td height="16" colspan="3"></td>
        </tr>
    </table>
    
    <table cellpadding="0" cellspacing="0" align="center" style="width: 640px;">
        {% if hideFooter is not defined%}
        <tr>
            <td style="background: #183849; padding-left: 20px; padding-right: 20px; padding-top: 30px;" align="center" colspan="2">
                {% if branding != 'knowathome' %} {% if images.logo_footer is defined %}<p style="margin: 0px; padding: 0px; margin-bottom: 20px; text-align: center;"><img src="{{ images.logo_footer }}" width="104" height="20" alt="" title="" style="display: inline-block;" /></p> {% endif %}{% else %}
                <p style="margin: 0px; padding: 0px; margin-bottom: 20px; text-align: center;"><img src="{{ images.logo_knowathome }}" width="104" height="20" alt="" title="" style="display: inline-block;" /></p>{% endif %}
                <p style="font-size: 12px; margin: 0px; padding: 0px; color: #6F90A2; font-family: Arial; line-height: 18px; margin-bottom: 15px; text-align: center;">{{ 'bottom_text' | trans({'%mail_to%': email, '%general_settings_link%': url('_settings',{'_locale' : locale})}, "email", locale) | raw }}</p>
                <p style="margin-bottom: 30px; padding: 0px; color: #fff; font-size: 15px; font-family: Arial; line-height: 18px; text-align: center;">{{ 'bottom_no_reply' | trans({}, "email", locale) }}</p>								
            </td>
        </tr>
        {% endif %}
        <tr>
            <td style="color: #4A697A; padding-top: 20px;" align="center" colspan="2">
                <p>
                   "c" 2010-2013 ProofPilot. / All Rights Reserved
                    <br>
                    Cyclogram: 8605 Santa Monica Blvd #75475 West Hollywood, CA 90069
                </p>
            </td>
        </tr>
        <tr>
            <td height="50" align="center" colspan="2"> 
                  {% if images.tmp_logo is defined %}<img  style="display: none !important;" src="{{ images.tmp_logo }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/>{% endif %}
                  {% if images.login is defined %}<img style="display: none !important;" src="{{ images.login }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/>{% endif %}
                  {% if images.logo_footer is defined %}<img style="display: none !important;" src="{{ images.logo_top }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/>{% endif %}
                  {% if images.logo_top is defined %}<img style="display: none !important;" src="{{ images.logo_footer }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/>{% endif %}
              </td>
        </tr>
    </table>
    
</body>
</html>