{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
{% if studyCode is defined %}
    {% set confirmurl = url('email_verify', {'_locale': locale, 'email': email, 'code': code, 'studyCode' : studyCode})  %}
{% else %}
    {% set confirmurl = url('email_verify', {'_locale': locale,'email': email, 'code': code }) %}
{% endif %}
    <td style="background-color: white; padding-left: 30px; padding-right: 30px;">
        <p style="margin: 0px; padding: 0px; margin-bottom: 25px; color: #ae4840; font-family: Arial; font-weight: bold; font-size: 30px; text-align: center;">{{ 'confirm_verify_title' | trans({}, "email", locale) }}</p>
        <p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #555; font-family: Arial; font-size: 15px; line-height: 20px; text-align: center;">{% trans from "email" %}confirm_verify_text{% endtrans %}</p>
        <a href="{{ confirmurl }}" style="margin-left: 155px; background: none repeat scroll 0 0 #8AB524; border: 1px solid #7EA61F; border-radius: 4px 4px 4px 4px; color: #FFFFFF;
                                          display: inline-block; font-size: 20px; font-weight: bold; margin-bottom: 30px; padding: 20px 70px; text-decoration: none;">
            {{ 'do_it' | trans({}, "email", locale) }}
        </a>
        <p style="text-align: center; border-bottom: 1px dotted #999D93; border-top: 1px dotted #999D93; color: #555555; font-size: 12px; margin-bottom: 20px; padding-bottom: 25px; padding-top: 25px;">If for some reason, you can't click button, use link below to confirm the registration:
            <br/>
            <a style="color: #BA433B; text-decoration: none;" href="{{ confirmurl }}">{{ confirmurl }}</a>
        </p>
        <table style="width: 580px">
            <tbody>
                <tr>
                    <td width="60%" style="padding-bottom: 20px;">
                        <h3 style="color: #B9433A; font-size: 2em; font-weight: bold; margin: 0; padding: 0;">Join a study</h3>
                    </td>
{#                     <td width="40%" align="right" style="padding-bottom: 20px;">#}
{#                         <a href="#" style="color: #727272; font-size: 13px; text-decoration: none;">#}
{#                             More studies#}
{#                             <img width="13" height="11" style="display: inline-block !important;" src="{{ images.arrow }}">#}
{#                         </a>#}
{#                     </td>#}
                </tr>
            </tbody>
        </table>
        <table style="width: 580px">
            <tbody>
                <tr>

                    {% for study in studies %}
                    <td>

                        {% if study.studyLogo is empty %}
                            <a href="{{  url('_page', {'studyUrl' : study.studyCode}) }}"  style="display: inline-block; margin: 0 auto; width: 164px;"><img src="{{ images.tmp_logo }}" width="165" height="109"  style="margin-bottom: 20px;" alt="" title=""/></a>
                        {% else %}
                             <a href="{{  url('_page', {'studyUrl' : study.studyCode}) }}"  style="display: inline-block; margin: 0 auto; width: 164px;"><img src="https:{{ study_image_url }}/{{ study.studyId }}/{{ study.studyLogo }}" width="165" height="109"  style="margin-bottom: 20px;" alt="" title=""/></a>
                        {% endif %}
                        <h4 style="font-size: 1.1em; margin: 0 0 15px; padding: 0; text-align: left; width: 165px;"><a href="{{ url('_page', {'studyUrl' : study.studyCode}) }}">{{ study.studyName }}</a></h4>
                        <p style="color: #969696; text-align: left; width: 165px;">{{ study.studyTagline | raw }}</p>
                </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </td>
{% endblock %}