    <table style="width: 580px">
        <tbody>
            <tr>
                <td style="color: #B9433A; font-size: 15px; font-weight: bold; margin: 0; padding: 0;" align="left">
                    <h3 style="color: #B9433A;">{% trans from "email" %}study_welcome_joint_other_studies{% endtrans %}</h3>
                </td>
            </tr>
            <tr>
                {% for study in studies %}
                    <td style="vertical-align: top;">
                        {% if study.studyLogo is empty %}
                            <a href="{{  url('_page', {'_locale' : locale, 'studyUrl' : study.studyCode}) }}"  style="display: inline-block; margin: 0 auto; width: 164px;">{% if images.tmp_logo is defined %}<img src="{{ images.tmp_logo }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/>{% endif %}</a>
                        {% else %}
                             <a href="{{  url('_page', {'_locale' : locale, 'studyUrl' : study.studyCode}) }}"  style="display: none !important; margin: 0 auto; width: 164px;">{% if images.tmp_logo is defined %}<img src="{{ images.tmp_logo }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/>{% endif %}</a>
                             <a href="{{  url('_page', {'_locale' : locale,'studyUrl' : study.studyCode}) }}"  style="display: inline-block; margin: 0 auto; width: 164px;"><img src="{{ study_image_url }}/{{ study.studyId }}/{{ study.studyGraphic }}" width="165"   style="margin-bottom: 20px;" alt="" title=""/></a>
                        {% endif %}
                        <h4 style="font-size: 1.1em; margin: 0 0 15px; padding: 0; text-align: left; width: 165px;"><a style="color: #000 !important; font-size: 0.8em; text-decoration: none;"href="{{ url('_page', {'_locale' : locale,'studyUrl' : study.studyCode}) }}">{{ study.studyName }}</a></h4>
                        <p style="color: #969696; text-align: left; width: 165px;">{{ study.studyTagline | raw }}</p>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>