{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
{# {% if studyCode is defined %}#}
{#     {% set confirmurl = url('email_verify', {'_locale': locale, 'email': email, 'code': code, 'studyCode' : studyCode})  %}#}
{# {% else %}#}
    {% set confirmurl = url('email_verify', {'_locale': locale,'email': email, 'code': code }) %}
{# {% endif %}#}
    <td style="background-color: white; padding-left: 30px; padding-right: 30px;">
        <p style="margin: 0px; padding: 0px; margin-bottom: 25px; color: #ae4840; font-family: Arial; font-weight: bold; font-size: 30px; text-align: center;">{{ 'confirm_verify_title' | trans({}, "email", locale) }}</p>
        <p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #555; font-family: Arial; font-size: 15px; line-height: 20px; text-align: center;">{% trans from "email" %}confirm_verify_text{% endtrans %}</p>
        <a href="{{ confirmurl }}" style="margin-left: 155px; background: none repeat scroll 0 0 #8AB524; border: 1px solid #7EA61F; border-radius: 4px 4px 4px 4px; color: #FFFFFF;
                                          display: inline-block; font-size: 20px; font-weight: bold; margin-bottom: 30px; padding: 20px 70px; text-decoration: none;">
            {{ 'do_it' | trans({}, "email", locale) }}
        </a>
        <p style="text-align: center; border-bottom: 1px dotted #999D93; border-top: 1px dotted #999D93; color: #555555; font-size: 12px; margin-bottom: 20px; padding-bottom: 25px; padding-top: 25px;">{% trans from "email" %}link_below_to_confirm{% endtrans %}:
            <br/>
            <a style="color: #BA433B; text-decoration: none;" href="{{ confirmurl }}">{{ confirmurl }}</a>
        </p>
        <table style="width: 580px">
            <tbody>
                <tr>
                    <td width="60%" style="padding-bottom: 20px;">
                        <h3 style="color: #B9433A; font-size: 2em; font-weight: bold; margin: 0; padding: 0;">Join a study</h3>
                    </td>
{#                     <td width="40%" align="right" style="padding-bottom: 20px;">#}
{#                         <a href="#" style="color: #727272; font-size: 13px; text-decoration: none;">#}
{#                             More studies#}
{#                             <img width="13" height="11" style="display: inline-block !important;" src="{{ images.arrow }}">#}
{#                         </a>#}
{#                     </td>#}
                </tr>
            </tbody>
        </table>
{% include 'CyclogramFrontendBundle:Email:email_studies_list.html.twig' %}
    </td>
{% endblock %}