{% extends '::base.html.twig' %}

{% block content %}
    <div class="mobile_reg">
      {% if aditional_phone == false  %}
          <h1><span>{% trans from "register" %}txt_join{% endtrans %} {{ current }}/{{ steps }}:</span>{% trans from "register" %}enter_mobile_phone{% endtrans %}</h1>
          <p>{% trans from "register" %}enter_mobile_phone{% endtrans %}</p>
          <form method="post" action="{{ path('_register_mobile',{'id' : id, 'studyCode' : studyCode}) }}">
      {% else %}
          <h1>{% trans from "register" %}enter_aditional_mobile_phone{% endtrans %}</h1>
          <form method="post" action="{{ path('_register_mobile',{'id' : id, 'studyCode' : studyCode, 'aditionalNumber' : aditional_phone}) }}">
      {% endif %}
        <ul class="form_fields">
          <li class="small_input">
          {% if form is defined %}
              {{ form_widget(form.phone_small, {'attr' : {'class' : 'default_input tac small' , 'id' : 'numeric'}}) }}
              
          {% else %}
          <input name="" value="" class="default_input tac small" type="text">
          {% endif %}
          </li>
          <li class="wide_input">
          {% if form is defined %}
          {{ form_widget(form.phone_wide, {'attr' : {'class' : 'default_input wide', 'id' : 'numeric'}}) }}
          
          {% else %}
          <input name="" value="" class="default_input wide" type="text">
          {% endif %}
          </li>
           {% if form is defined %}
           
              {{ form_errors(form.phone_small) }}
              {{ form_errors(form.phone_wide) }}
              

           
        </ul>
        {% if aditional_phone== false %}
        <div class=mobile_reg_container>
                <div class="notice2"><a id="open_why_popup"><span>{% trans from "register" %}txt_popup_link{% endtrans %}</span></a></div>
            {{ form_widget(form.aditional_phone) }}
            <div id="why_popup" class="why_popup why_register_mobile">
                <div class="why_popup_content">
                    <a class="why_close" href=""></a>
                    <p><strong>{% trans from "register" %}txt_popup_header{% endtrans %}</strong></p>
                    <p>{% trans from "register" %}txt_popup_text{% endtrans %}</p>
                </div>
            </div>
			</div>
         <div class="center_align">
        {{ form_widget(form.sendCode, {'attr':{'class':'submit'}}) }}
        {% else %}
               <div class="center_align">
        <button type="submit" class="submit btn_login">{% trans from "register" %}txt_aditional_number_save{% endtrans %}</button>
        {% endif %}
              {{ form_errors(form) }}
              {% endif %}
        </div>
      </form>
    </div>
    
     <script>
        $(document).ready(function(){
            $("#phone_phone_small").numeric();
            $('#phone_phone_wide').numeric();
            var check = $("#phone_phone_small").val();
            if (check != '') { 
                $('#phone_phone_wide').focus();
            }

            
           });
        </script>
{% endblock content %}
