{%  extends '::base.html.twig' %}
{% block javascripts %}
  <script src= {{ asset ('js/jstz-1.0.4.min.js') }}></script>
    <script>
    $(document).ready(function(){
           $('#sms_confirm_confirmCode').click(function()
                {
                    var tz = jstz.determine();
                    var timeZone = tz.name();
                    $('#sms_confirm_timeZone').val(timeZone);
                    return true;
               });
           var tz = jstz.determine();
           $.post("{{ path('_register_verify_sms',{'id' : id, 'studyCode' : studyCode}) }}", {timeZonename : tz.name()});
    });
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="mobile_reg">
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} {{ current }}/{{ steps }}:</span>{% trans from "register" %}enter_sms_code{% endtrans %}</h1>
      <br>
      <form method="post" action="{{ path('_register_verify_sms',{'id' : id, 'studyCode' : studyCode}) }}">
        <ul class="form_fields">
          <li>

              {{ form_widget(form.sms_code, {'attr' : {'class' : 'default_input full', 'autocomplete': 'off'}}) }}
              {{ form_errors(form.sms_code) }}

          {{ error }}
          </li>
        </ul>
        <div class="center_align">
              {{ form_widget(form.confirmCode,{'attr':{'class':'submit'}}) }}
              {{ form_errors(form) }}
              {{ form_rest(form) }}
            </div>
        <div class="center_align"><a href={{ path('_register_sms',{'studyCode' : studyCode , 'id' : id}) }} class="repeat">{% trans from "register" %}no_code{% endtrans %}</a></div>
      </form>
    </div>
{% endblock content %}
