{%  extends '::base.html.twig' %}

{% block content %}
    <div class="mobile_reg">
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} 5/6:</span>{% trans from "register" %}enter_sms_code{% endtrans %}</h1>
      <br>
      <form method="post" action="{{ path('reg_step_5',{'id' : id, 'studyId' : studyId}) }}">
        <ul class="form_fields">
          <li>

              {{ form_widget(form.sms_code, {'attr' : {'class' : 'default_input full', 'autocomplete': 'off'}}) }}
              {{ form_errors(form.sms_code) }}
          {{ error }}
          </li>
        </ul>
        <div class="center_align">
              {{ form_widget(form.confirmCode,{'attr':{'class':'submit'}}) }}
              {{ form_errors(form) }}
              {{ form_rest(form) }}
        </div>

        <div class="center_align"><a href={{ path('reg_step_4',{'id' : id, 'studyId' : studyId}) }} class="repeat">{% trans from "register" %}no_code{% endtrans %}</a></div>
      </form>
    </div>
{% endblock content %}
