{%  extends '::base.html.twig' %}

{% form_theme form _self %}

{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    <div class="mobile_reg align_center">
      <h1 class="stronger smaller_margin"><span>Create a New Password</span></h1>
      <form method="post" action="{{ path('_create_new_pass', {'studyCode' : studyCode , 'id': id}) }}">
        <ul class="form_fields small_margin">
          <li class="text_left">Create new password</li>
          <li class="input_right">
{#           <input name="" class="pw_input" value="" type="password"></li>#}
              {{ form_widget(form.participantPassword.first, {'attr' : {'class' : 'pw_input'}}) }}
              {{ form_errors(form.participantPassword.first) }}
          
          </li>
          <li class="text_left">Confirm new password</li>
          <li class="input_right">
{#           <input name="" class="pw_input" value="" type="password"></li>#}
              {{ form_widget(form.participantPassword.second, {'attr' : {'class' : 'pw_input'}}) }}
              {{ form_errors(form.participantPassword.second) }}
              

              {{ form_errors(form) }}
              
          </li>
        </ul>
        <p class="notice">Password must be at least 8 characters and include 2
          numbers</p>
        <div class="center_align bottom_margin">
            {{ form_widget(form.savePass, {'attr':{'class':'submit'}}) }}
            {{ form_rest(form) }}
            <button type="submit" style="display:none" id="submit_button"></button></div>
      </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src={{ asset('js/vendor/jquery-1.9.1.min.js') }}><\/script>')</script>
        <script src= {{ asset ('js/plugins.js') }}></script>
        <script src= {{ asset ('js/main.js') }}></script>
{% endblock content %}